.version.author_driven_design_project {
    color: #0000F7;
    background-color: #DF782D;
}

@font-face {
    font-family: '__Nimbus Sans L_5';
    src: url('../fonts/nimbus-sans-l_regular.eot');
    src: local('☺'), url('../fonts/nimbus-sans-l_regular.woff') format('woff'), url('../fonts/nimbus-sans-l_regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: '__Nimbus Sans L_5';
    src: url('../fonts/nimbus-sans-l_bold.eot');
    src: local('☺'), url('../fonts/nimbus-sans-l_bold.woff') format('woff'), url('../fonts/nimbus-sans-l_bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: '__Nimbus Sans L_5';
    src: url('../fonts/nimbus-sans-l_regular-condensed-italic.eot');
    src: local('☺'), url('../fonts/nimbus-sans-l_regular-condensed-italic.woff') format('woff'), url('../fonts/nimbus-sans-l_regular-condensed-italic.svg') format('svg');
    font-weight: 400;
    font-style: italic;
}

#page {
    width: 100%;
    border-width: 0px;
    background-image: none;
    margin-left: auto;
    z-index: 1;
    margin-right: auto;
    border-color: #000000;
    background-color: transparent;
}

#u388-6 {
    min-height: 30px;
    position: relative;
}

#buttonu12599 {
    border-radius: 10px;
    z-index: 304;
    position: relative;
    margin-right: -10000px;
    border-color: #787878;
    background-color: #666666;
}

#buttonu12599:hover {
    min-height: 0px;
    background-color: #141414;
    margin: 0px -10000px 0px 0%;
}

#buttonu12599.ButtonSelected {
    min-height: 0px;
    background-color: #666666;
    margin: 0px -10000px 0px 0%;
}

#u12600-6 {
    min-height: 27px;
    color: #FFFFFF;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    margin-top: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    z-index: 305;
    font-weight: bold;
    margin-right: -10000px;
    letter-spacing: 1px;
    background-color: transparent;
}

#buttonu12599:hover #u12600-6 {
    padding-bottom: 0px;
    padding-top: 0px;
    min-height: 27px;
    margin: 10px -10000px 0px 0%;
}

#buttonu12599.ButtonSelected #u12600-6 {
    padding-bottom: 0px;
    padding-top: 0px;
    min-height: 27px;
    margin: 10px -10000px 0px 0%;
}

#buttonu12599:hover #u12600-6 p {
    color: #FFFFFF;
    visibility: inherit;
}

#buttonu12599.ButtonSelected #u12600-6 p {
    color: #FFFFFF;
    visibility: inherit;
}

#u2875-4 {
    min-height: 58px;
    font-family: '__Nimbus Sans L_5';
    font-weight: 400;
    text-align: left;
    position: relative;
    font-size: 60px;
    z-index: 39;
    line-height: 72px;
    background-color: transparent;
}

#u6799-16 {
    min-height: 194px;
    color: #7F7F7F;
    font-family: '__Nimbus Sans L_5';
    z-index: 43;
    position: relative;
    background-color: transparent;
}

#u6799-2 {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-weight: 700;
}

#u6799-6,
#u6799-8 {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    font-weight: 400;
}

#u6799-3,
#u6799-5,
#u6799-9 {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: 400;
}

#u6799-11,
#u6799-13 {
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    font-weight: 400;
}

#u6799-14 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

#u6810 {
    margin-right: -10000px;
    background-color: transparent;
    z-index: 61;
    position: relative;
}

#u7552-4 {
    min-height: 31px;
    color: #FFFFFF;
    background-color: transparent;
    z-index: 291;
    position: relative;
    margin-right: -10000px;
    text-align: right;
}

#pu6802 {
    z-index: 59;
}

#u6802 {
    margin-right: -10000px;
    width: 100%;
    background-color: transparent;
    z-index: 59;
    position: relative;
}

#u7555-4 {
    min-height: 31px;
    color: #FFFFFF;
    background-color: transparent;
    z-index: 295;
    position: relative;
    margin-right: -10000px;
    text-align: left;
}

#u6822-19 {
    min-height: 194px;
    color: #7F7F7F;
    font-family: '__Nimbus Sans L_5';
    font-weight: 400;
    text-align: center;
    position: relative;
    font-size: 18px;
    z-index: 63;
    line-height: 22px;
    background-color: transparent;
}

#u6822-10,
#u6822-11,
#u6822-16 {
    font-style: italic;
}

#slideshowu6828 {
    z-index: 82;
    position: relative;
}

#pu6843,
#u6843popup {
    z-index: 83;
}

#u6844 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 84;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u6954 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 86;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u6974 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 88;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u6994 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 90;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u6836popup {
    margin-right: -10000px;
    z-index: 92;
}

#u6837 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 93;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
}

#u6960 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 95;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
    margin-top: 10px;
}

#u6980 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 97;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
}

#u7000 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 99;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
    margin-top: 10px;
}

#pu6830-4 {
    z-index: 118;
}

#u6830-4popup {
    margin-right: -10000px;
    z-index: 118;
    height: 40px;
}

#u6831-4popup {
    margin-right: -10000px;
    z-index: 122;
    height: 40px;
}

#u6832popup {
    margin-right: -10000px;
    z-index: 101;
}

#u6834-4 {
    border-width: 0px;
    width: 100%;
    z-index: 102;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u6966-4 {
    border-width: 0px;
    width: 100%;
    z-index: 106;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u6986-4 {
    border-width: 0px;
    width: 100%;
    z-index: 110;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u7006-4 {
    border-width: 0px;
    width: 100%;
    z-index: 114;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

.SSFirstButton,
.SSPreviousButton,
.SSNextButton,
.SSLastButton,
.SSSlideLink,
.SSCloseButton {
    cursor: pointer;
    border: 1px solid grey !important;
}

.SSSlideLoading {
    background: url("../images/loading.gif?crc=3815509949") no-repeat center center;
}

#u7018-8 {
    min-height: 127px;
    color: #7F7F7F;
    font-family: '__Nimbus Sans L_5';
    font-weight: 400;
    text-align: center;
    position: relative;
    font-size: 18px;
    z-index: 126;
    line-height: 22px;
    background-color: transparent;
}

#slideshowu7027 {
    z-index: 171;
    position: relative;
}

#pu7040,
#u7040popup {
    z-index: 172;
}

#u7041 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 173;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u7276 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 175;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u7296 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 177;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u7316 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 179;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u7336 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 181;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u7356 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 183;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u7029popup {
    margin-right: -10000px;
    z-index: 185;
}

#u7034 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 186;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
}

#u7282 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 188;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
    margin-top: 10px;
}

#u7302 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 190;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
}

#u7322 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 192;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
    margin-top: 10px;
}

#u7342 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 194;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
}

#u7362 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 196;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
    margin-top: 10px;
}

#pu7050-4 {
    z-index: 223;
}

#u7050-4popup {
    margin-right: -10000px;
    z-index: 223;
    height: 40px;
}

#u7028-4popup {
    margin-right: -10000px;
    z-index: 227;
    height: 40px;
}

#u7053popup {
    margin-right: -10000px;
    z-index: 198;
}

#u7056-4 {
    border-width: 0px;
    width: 100%;
    z-index: 199;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u7288-4 {
    border-width: 0px;
    width: 100%;
    z-index: 203;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u7308-4 {
    border-width: 0px;
    width: 100%;
    z-index: 207;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u7328-4 {
    border-width: 0px;
    width: 100%;
    z-index: 211;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u7348-4 {
    border-width: 0px;
    width: 100%;
    z-index: 215;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u7368-4 {
    border-width: 0px;
    width: 100%;
    z-index: 219;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u7021-15 {
    min-height: 201px;
    color: #7F7F7F;
    font-family: '__Nimbus Sans L_5';
    z-index: 134;
    font-weight: 400;
    background-color: transparent;
    position: relative;
}

#u7021-5,
#u7021-7 {
    font-size: 16px;
    line-height: 19px;
    text-align: right;
}

#u7021-2,
#u7021-12 {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

#u7021-3,
#u7021-8,
#u7021-13 {
    font-size: 18px;
    line-height: 22px;
}

#slideshowu7128 {
    z-index: 231;
    position: relative;
}

#pu7133,
#u7133popup {
    z-index: 232;
}

#u7138 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 233;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u7447 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 235;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u7467 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 237;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u7487 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 239;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u7507 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 241;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u7527 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 243;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u6836,
#u7029,
#u7144 {
    pointer-events: none;
    position: absolute;
    border-width: 0px;
    width: 100%;
    border-color: transparent;
    background-color: transparent;
}

#u7144popup {
    margin-right: -10000px;
    z-index: 245;
}

#u7149 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 246;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
}

#u6837.SSSlideLinkSelected,
#u7034.SSSlideLinkSelected,
#u7149.SSSlideLinkSelected {
    margin-bottom: 0px;
    border-width: 0px;
    margin-top: 0px;
    min-height: 5px;
    margin-right: 0px;
    border-color: transparent;
}

#u7453 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 248;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
    margin-top: 10px;
}

#u7473 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 250;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
}

#u7493 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 252;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
    margin-top: 10px;
}

#u7513 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 254;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
}

#u6980.SSSlideLinkSelected,
#u7302.SSSlideLinkSelected,
#u7342.SSSlideLinkSelected,
#u7473.SSSlideLinkSelected,
#u7513.SSSlideLinkSelected {
    margin-bottom: 0px;
    border-width: 0px;
    min-height: 5px;
    margin-right: 0px;
    border-color: transparent;
}

#u7533 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 256;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
    margin-top: 10px;
}

#u6960.SSSlideLinkSelected,
#u7000.SSSlideLinkSelected,
#u7282.SSSlideLinkSelected,
#u7322.SSSlideLinkSelected,
#u7362.SSSlideLinkSelected,
#u7453.SSSlideLinkSelected,
#u7493.SSSlideLinkSelected,
#u7533.SSSlideLinkSelected {
    margin-bottom: 0px;
    border-width: 0px;
    margin-top: 10px;
    min-height: 5px;
    margin-right: 0px;
    border-color: transparent;
}

#u6810_img,
#u6802_img,
#u6837_img,
#u6960_img,
#u6980_img,
#u7000_img,
#u7276_img,
#u7034_img,
#u7282_img,
#u7302_img,
#u7322_img,
#u7342_img,
#u7362_img,
#u7149_img,
#u7453_img,
#u7473_img,
#u7493_img,
#u7513_img,
#u7533_img {
    width: 100%;
}

#pu7130-4 {
    z-index: 283;
}

#u7130-4popup {
    margin-right: -10000px;
    z-index: 283;
    height: 40px;
}

#u6830-4,
#u6831-4,
#u7050-4,
#u7028-4,
#u7130-4,
#u7158-4 {
    min-height: 20px;
    border-width: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-color: transparent;
    background-color: #FFFFFF;
    position: absolute;
}

#u7158-4popup {
    margin-right: -10000px;
    z-index: 287;
    height: 40px;
}

#u6830-3,
#u6831-3,
#u7050-3,
#u7028-3,
#u7130-3,
#u7158-3 {
    color: #999999;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    line-height: 20px;
    text-align: center;
}

#u6843,
#u6832,
#u7040,
#u7053,
#u7133,
#u7153 {
    width: 100%;
    background-color: transparent;
    position: absolute;
}

#u7153popup {
    margin-right: -10000px;
    z-index: 258;
}

#u7156-4 {
    border-width: 0px;
    width: 100%;
    z-index: 259;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u7459-4 {
    border-width: 0px;
    width: 100%;
    z-index: 263;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u7479-4 {
    border-width: 0px;
    width: 100%;
    z-index: 267;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u7499-4 {
    border-width: 0px;
    width: 100%;
    z-index: 271;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u7519-4 {
    border-width: 0px;
    width: 100%;
    z-index: 275;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u7539-4 {
    border-width: 0px;
    width: 100%;
    z-index: 279;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u6834-3,
#u6966-3,
#u6986-3,
#u7006-3,
#u7056-3,
#u7288-3,
#u7308-3,
#u7328-3,
#u7348-3,
#u7368-3,
#u7156-3,
#u7459-3,
#u7479-3,
#u7499-3,
#u7519-3,
#u7539-3 {
    color: #999999;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    line-height: 20px;
    text-align: left;
}

#u7024-22 {
    min-height: 127px;
    color: #7F7F7F;
    font-family: '__Nimbus Sans L_5';
    font-weight: 400;
    text-align: center;
    position: relative;
    font-size: 18px;
    z-index: 149;
    line-height: 22px;
    background-color: transparent;
}

#u6822-5,
#u7018-2,
#u7021-10,
#u7024-17 {
    font-weight: 700;
}

#u7561-5 {
    background-color: transparent;
    z-index: 299;
    position: relative;
    text-align: center;
}

#u7561 {
    text-transform: uppercase;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
}

.html {
    background-color: #FFFFFF;
}

body {
    position: relative;
}

@media (min-width: 481px),
print {
    #muse_css_mq {
        background-color: #FFFFFF;
    }

    #bp_infinity.active {
        display: block;
    }

    #page {
        min-height: 406px;
        padding-top: 32px;
        padding-bottom: 62px;
        max-width: 1200px;
    }

    #u388-6 {
        z-index: 33;
        width: 18.75%;
        margin-left: 24.34%;
    }

    #menuu238 {
        z-index: 2;
        width: 769px;
        height: 42px;
        margin-top: 17px;
        position: relative;
        margin-left: 50%;
        left: -385px;
    }

    #u246 {
        width: 97px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
    }

    #u249 {
        width: 97px;
        padding-bottom: 25px;
        position: relative;
    }

    #u249:hover {
        width: 97px;
        min-height: 0px;
        margin: 0px;
    }

    #u249:active {
        width: 97px;
        min-height: 0px;
        margin: 0px;
    }

    #u249.MuseMenuActive {
        width: 97px;
        min-height: 0px;
        margin: 0px;
    }

    #u250-4 {
        width: 50px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u249:hover #u250-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 50px;
        margin: 0px -10000px 0px 0px;
    }

    #u249:active #u250-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 50px;
        margin: 0px -10000px 0px 0px;
    }

    #u249.MuseMenuActive #u250-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 50px;
        margin: 0px -10000px 0px 0px;
    }

    #u239 {
        width: 186px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 99px;
    }

    #u240 {
        width: 186px;
        padding-bottom: 25px;
        position: relative;
    }

    #u240:hover {
        width: 186px;
        min-height: 0px;
        margin: 0px;
    }

    #u240:active {
        width: 186px;
        min-height: 0px;
        margin: 0px;
    }

    #u240.MuseMenuActive {
        width: 186px;
        min-height: 0px;
        margin: 0px;
    }

    #u241-4 {
        width: 139px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u240:hover #u241-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 139px;
        margin: 0px -10000px 0px 0px;
    }

    #u240:active #u241-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 139px;
        margin: 0px -10000px 0px 0px;
    }

    #u240.MuseMenuActive #u241-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 139px;
        margin: 0px -10000px 0px 0px;
    }

    #u284 {
        width: 183px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 287px;
    }

    #u285 {
        width: 183px;
        padding-bottom: 25px;
        position: relative;
    }

    #u285:hover {
        width: 183px;
        min-height: 0px;
        margin: 0px;
    }

    #u285:active {
        width: 183px;
        min-height: 0px;
        margin: 0px;
    }

    #u285.MuseMenuActive {
        width: 183px;
        min-height: 0px;
        margin: 0px;
    }

    #u287-4 {
        width: 136px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u285:hover #u287-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 136px;
        margin: 0px -10000px 0px 0px;
    }

    #u285:active #u287-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 136px;
        margin: 0px -10000px 0px 0px;
    }

    #u285.MuseMenuActive #u287-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 136px;
        margin: 0px -10000px 0px 0px;
    }

    #u305 {
        width: 176px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 472px;
    }

    #u306 {
        width: 176px;
        padding-bottom: 25px;
        position: relative;
    }

    #u306:hover {
        width: 176px;
        min-height: 0px;
        margin: 0px;
    }

    #u306:active {
        width: 176px;
        min-height: 0px;
        margin: 0px;
    }

    #u306.MuseMenuActive {
        width: 176px;
        min-height: 0px;
        margin: 0px;
    }

    #u308-4 {
        width: 130px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u306:hover #u308-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 130px;
        margin: 0px -10000px 0px 0px;
    }

    #u306:active #u308-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 130px;
        margin: 0px -10000px 0px 0px;
    }

    #u306.MuseMenuActive #u308-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 130px;
        margin: 0px -10000px 0px 0px;
    }

    #u326 {
        width: 119px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 650px;
    }

    #u329 {
        width: 119px;
        padding-bottom: 25px;
        position: relative;
    }

    #u329:hover {
        width: 119px;
        min-height: 0px;
        margin: 0px;
    }

    #u329:active {
        width: 119px;
        min-height: 0px;
        margin: 0px;
    }

    #u329.MuseMenuActive {
        width: 119px;
        min-height: 0px;
        margin: 0px;
    }

    #u332-4 {
        width: 73px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u329:hover #u332-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 73px;
        margin: 0px -10000px 0px 0px;
    }

    #u329:active #u332-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 73px;
        margin: 0px -10000px 0px 0px;
    }

    #u329.MuseMenuActive #u332-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 73px;
        margin: 0px -10000px 0px 0px;
    }

    #u2875-4 {
        margin-top: 31px;
        width: 65.25%;
        margin-left: 18%;
    }

    #pu6799-16 {
        z-index: 43;
        margin-top: 7px;
        width: 71.59%;
        margin-left: 18%;
    }

    #u6799-16 {
        margin-right: -10000px;
        margin-top: 27px;
        width: 89.41%;
    }

    #buttonu12599 {
        padding-bottom: 9px;
        width: 21.19%;
        left: 78.82%;
    }

    #buttonu12599:hover {
        width: 21.19%;
    }

    #buttonu12599.ButtonSelected {
        width: 21.19%;
    }

    #u12600-6 {
        width: 90.66%;
        left: 5.5%;
    }

    #buttonu12599:hover #u12600-6 {
        width: 90.66%;
    }

    #buttonu12599.ButtonSelected #u12600-6 {
        width: 90.66%;
    }

    #ppu6802 {
        z-index: 0;
        margin-top: 29px;
        width: 98.25%;
        margin-left: 1%;
    }

    #pu6802 {
        margin-right: -10000px;
        width: 48.01%;
        margin-left: 52%;
    }

    #u7555-4 {
        margin-top: 436px;
        width: 30.75%;
        left: 2.3%;
    }

    #u6810 {
        width: 51.23%;
    }

    #u7552-4 {
        margin-top: 436px;
        width: 15.87%;
        left: 34.44%;
    }

    #slideshowu6828 {
        margin-top: 36px;
        width: 64%;
        margin-left: 18%;
    }

    #u6837 {
        width: 76.54%;
        margin-left: 11.23%;
    }

    #u6837.SSSlideLinkSelected,
    #u6960 {
        width: 76.54%;
        margin-left: 11.23%;
    }

    #u6980 {
        margin-top: 11px;
        width: 76.54%;
        margin-left: 11.23%;
    }

    #u6960.SSSlideLinkSelected,
    #u7000 {
        width: 76.54%;
        margin-left: 11.23%;
    }

    #pu6843 {
        margin-right: -10000px;
        width: 78.13%;
        margin-left: 21.88%;
    }

    #u6844_img {
        width: 65.5%;
        padding: 16.666666666666664% 17.166666666666668% 16.666666666666664% 17.333333333333336%;
    }

    #u6954_img {
        width: 90.17%;
        padding: 3.6666666666666665% 4.833333333333333% 3.6666666666666665% 5%;
    }

    #u6974_img {
        width: 88.17%;
        padding: 2.833333333333333% 5.833333333333333% 2.833333333333333% 6%;
    }

    #u6994_img {
        width: 88.5%;
        padding: 7.5% 5.666666666666666% 7.333333333333333% 5.833333333333333%;
    }

    #pu6830-4 {
        margin-top: 4px;
        width: 82.67%;
    }

    #u6832popup {
        height: 60px;
        width: 70.37%;
        margin-left: 29.64%;
    }

    #u6834-4,
    #u6966-4,
    #u6986-4,
    #u7006-4 {
        min-height: 40px;
    }

    #u7018-8 {
        margin-top: 22px;
        width: 64%;
        margin-left: 17.92%;
    }

    #slideshowu7027 {
        margin-top: 28px;
        width: 64%;
        margin-left: 17.92%;
    }

    #u7000.SSSlideLinkSelected,
    #u7034 {
        width: 76.54%;
        margin-left: 11.23%;
    }

    #u7034.SSSlideLinkSelected,
    #u7282 {
        width: 76.54%;
        margin-left: 11.23%;
    }

    #u6980.SSSlideLinkSelected,
    #u7302 {
        margin-top: 11px;
        width: 76.54%;
        margin-left: 11.23%;
    }

    #u7282.SSSlideLinkSelected,
    #u7322 {
        width: 76.54%;
        margin-left: 11.23%;
    }

    #u7342 {
        margin-top: 10px;
        width: 76.54%;
        margin-left: 11.23%;
    }

    #u7322.SSSlideLinkSelected,
    #u7362 {
        width: 76.54%;
        margin-left: 11.23%;
    }

    #u7041_img {
        padding-left: 32.87878787878788%;
        padding-right: 32.72727272727273%;
        width: 34.4%;
    }

    #u7276_img {
        padding-top: 1.6666666666666667%;
        padding-bottom: 1.6666666666666667%;
    }

    #u7296_img {
        width: 91.67%;
        padding: 0.7575757575757576% 4.090909090909091% 0.7575757575757576% 4.242424242424243%;
    }

    #u7316_img {
        width: 40%;
        padding: 7.2727272727272725% 30% 7.121212121212121%;
    }

    #u7336_img {
        padding-top: 3.3333333333333335%;
        padding-right: 0.15151515151515152%;
        padding-bottom: 3.1818181818181817%;
        width: 99.85%;
    }

    #u7356_img {
        padding-left: 4.545454545454546%;
        padding-right: 4.545454545454546%;
        width: 90.91%;
    }

    #u7021-15 {
        margin-top: 39px;
        width: 64%;
        margin-left: 18%;
    }

    #u6822-19,
    #slideshowu7128 {
        margin-top: 27px;
        width: 64%;
        margin-left: 18%;
    }

    #u6836popup,
    #u7029popup,
    #u7144popup {
        height: 450px;
        width: 12.77%;
    }

    #u7362.SSSlideLinkSelected,
    #u7149 {
        width: 76.54%;
        margin-left: 11.23%;
    }

    #u7149.SSSlideLinkSelected,
    #u7453 {
        width: 76.54%;
        margin-left: 11.23%;
    }

    #u7302.SSSlideLinkSelected,
    #u7473 {
        margin-top: 11px;
        width: 76.54%;
        margin-left: 11.23%;
    }

    #u7473.SSSlideLinkSelected {
        margin-top: 11px;
        width: 76.54%;
        margin-left: 11.23%;
    }

    #u7453.SSSlideLinkSelected,
    #u7493 {
        width: 76.54%;
        margin-left: 11.23%;
    }

    #u7342.SSSlideLinkSelected,
    #u7513 {
        margin-top: 10px;
        width: 76.54%;
        margin-left: 11.23%;
    }

    #u7513.SSSlideLinkSelected {
        margin-top: 10px;
        width: 76.54%;
        margin-left: 11.23%;
    }

    #u7493.SSSlideLinkSelected,
    #u7533 {
        width: 76.54%;
        margin-left: 11.23%;
    }

    #u7533.SSSlideLinkSelected {
        width: 76.54%;
        margin-left: 11.23%;
    }

    #pu7040,
    #pu7133 {
        margin-right: -10000px;
        width: 85.94%;
        margin-left: 14.07%;
    }

    #u6843popup,
    #u7040popup,
    #u7133popup {
        height: 450px;
        width: 100%;
    }

    #u7138_img {
        padding-top: 4.696969696969696%;
        padding-bottom: 4.696969696969696%;
        width: 100%;
    }

    #u7447_img {
        width: 96.22%;
        padding: 6.666666666666667% 1.8181818181818181% 6.515151515151516% 1.9696969696969695%;
    }

    #u7467_img {
        padding-left: 1.2121212121212122%;
        padding-right: 1.0606060606060608%;
        width: 97.73%;
    }

    #u7487_img {
        padding-top: 0.30303030303030304%;
        padding-bottom: 0.15151515151515152%;
        width: 100%;
    }

    #u7507_img {
        padding-top: 5.606060606060606%;
        padding-bottom: 5.606060606060606%;
        width: 100%;
    }

    #u7527_img {
        width: 81.67%;
        padding: 13.18181818181818% 9.090909090909092% 13.030303030303031% 9.242424242424242%;
    }

    #pu7050-4,
    #pu7130-4 {
        margin-top: 4px;
        width: 75.16%;
        margin-left: 9.1%;
    }

    #u6830-4popup,
    #u7050-4popup,
    #u7130-4popup {
        width: 13.71%;
    }

    #u6831-4popup,
    #u7028-4popup,
    #u7158-4popup {
        width: 13.71%;
        margin-left: 14.12%;
    }

    #u6830-3,
    #u6831-3,
    #u7050-3,
    #u7028-3,
    #u7130-3,
    #u7158-3 {
        margin-left: 14.82%;
        margin-right: 14.814814814814813%;
    }

    #u7053popup,
    #u7153popup {
        height: 40px;
        width: 70.37%;
        margin-left: 29.64%;
    }

    #u7056-4,
    #u7288-4,
    #u7308-4,
    #u7328-4,
    #u7348-4,
    #u7368-4,
    #u7156-4,
    #u7459-4,
    #u7479-4,
    #u7499-4,
    #u7519-4,
    #u7539-4 {
        min-height: 20px;
    }

    #u6834-3,
    #u6966-3,
    #u6986-3,
    #u7006-3,
    #u7056-3,
    #u7288-3,
    #u7308-3,
    #u7328-3,
    #u7348-3,
    #u7368-3,
    #u7156-3,
    #u7459-3,
    #u7479-3,
    #u7499-3,
    #u7519-3,
    #u7539-3 {
        margin-left: 2.87%;
        margin-right: 2.867383512544803%;
    }

    #u7024-22 {
        margin-top: 26px;
        width: 64%;
        margin-left: 18%;
    }

    #u7561-5 {
        min-height: 17px;
        margin-top: 88px;
        width: 16.84%;
        margin-left: 41.59%;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 4289px);
    }
}

@media (max-width: 480px) {

    /*

*/
    #muse_css_mq {
        background-color: #0001e0;
    }

    #bp_480.active {
        display: block;
    }

    #page {
        min-height: 500px;
        max-width: 480px;
    }

    #ppmenuu7843 {
        z-index: 0;
        padding-bottom: 0px;
        margin-right: -10000px;
        margin-top: 20px;
        width: 82.3%;
    }

    #pmenuu7843 {
        z-index: 8;
        width: 87.35%;
    }

    #menuu7843 {
        z-index: 8;
        width: 118px;
        height: 106px;
        position: relative;
        margin-right: -10000px;
        margin-left: 69.57%;
        left: -159px;
    }

    #u7851 {
        width: 118px;
        position: relative;
    }

    #u7854 {
        width: 118px;
        padding-bottom: 6px;
        position: relative;
        margin-right: -10000px;
    }

    #u7854:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7854:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7855-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 3px;
    }

    #u7854:hover #u7855-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7854:active #u7855-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7873 {
        width: 118px;
        padding-bottom: 6px;
        position: relative;
        margin-right: -10000px;
    }

    #u7854.MuseMenuActive,
    #u7873:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7873:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7874-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 3px;
    }

    #u7854.MuseMenuActive #u7855-4,
    #u7873:hover #u7874-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7873:active #u7874-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7868 {
        width: 118px;
        padding-bottom: 6px;
        position: relative;
        margin-right: -10000px;
    }

    #u7873.MuseMenuActive,
    #u7868:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7868:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7871-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 3px;
    }

    #u7873.MuseMenuActive #u7874-4,
    #u7868:hover #u7871-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7868:active #u7871-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7845 {
        width: 118px;
        padding-bottom: 5px;
        position: relative;
        margin-right: -10000px;
    }

    #u7868.MuseMenuActive,
    #u7845:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7845:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7848-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 2px;
    }

    #u7868.MuseMenuActive #u7871-4,
    #u7845:hover #u7848-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7845:active #u7848-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7872,
    #u7865,
    #u7844,
    #u7858 {
        width: 118px;
        margin-top: 2px;
        position: relative;
    }

    #u7861 {
        width: 118px;
        padding-bottom: 5px;
        position: relative;
        margin-right: -10000px;
    }

    #u7845.MuseMenuActive,
    #u7861:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861.MuseMenuActive {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7864-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 2px;
    }

    #u7845.MuseMenuActive #u7848-4,
    #u7861:hover #u7864-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861:active #u7864-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861.MuseMenuActive #u7864-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u388-6 {
        z-index: 2;
        margin-right: -10000px;
        margin-top: 40px;
        width: 62.32%;
        left: 37.69%;
        margin-left: 23.48%;
    }

    #pbuttonu12599 {
        z-index: 304;
        margin-top: 41px;
        width: 94.94%;
        left: 0%;
        margin-left: 15.7%;
    }

    #buttonu12599 {
        padding-bottom: 11px;
        width: 30.4%;
    }

    #buttonu12599:hover {
        width: 30.4%;
    }

    #buttonu12599.ButtonSelected {
        width: 30.4%;
    }

    #u12600-6 {
        width: 96.5%;
        left: 3.51%;
    }

    #buttonu12599:hover #u12600-6 {
        width: 96.5%;
    }

    #buttonu12599.ButtonSelected #u12600-6 {
        width: 96.5%;
    }

    #u2875-4 {
        margin-right: -10000px;
        margin-top: 1px;
        width: 64.54%;
        left: 35.47%;
    }

    #u6799-16 {
        margin-top: 28px;
        width: 92.16%;
        left: 0%;
        margin-left: 14.69%;
    }

    #pu6810 {
        z-index: 61;
        margin-top: 11px;
        width: 83.55%;
        left: 0%;
        margin-left: 17.47%;
    }

    #u6810 {
        width: 96.37%;
        left: 3.64%;
    }

    #u7552-4 {
        margin-top: 207px;
        width: 22.73%;
    }

    #pu6802 {
        margin-top: 9px;
        width: 80.51%;
        left: 0%;
        margin-left: 20.51%;
    }

    #u7555-4 {
        margin-top: 8px;
        width: 22.02%;
        left: 3.15%;
    }

    #u6822-19 {
        margin-top: 25px;
        width: 92.16%;
        left: 0%;
        margin-left: 14.69%;
    }

    #slideshowu6828 {
        margin-top: 48px;
        width: 95.95%;
        left: 0%;
        margin-left: 14.69%;
    }

    #u6843popup {
        height: 263px;
        margin-right: -10000px;
        width: 89.98%;
        margin-left: 10.03%;
    }

    #u6844_img {
        width: 63.93%;
        padding: 18.181818181818183% 18.181818181818183% 18.181818181818183% 17.888563049853374%;
    }

    #u6954_img {
        width: 92.67%;
        padding: 3.812316715542522% 3.519061583577713% 3.812316715542522% 3.812316715542522%;
    }

    #u6974_img {
        width: 88.27%;
        padding: 3.812316715542522% 5.865102639296188% 4.105571847507331%;
    }

    #u6994_img {
        width: 90.91%;
        padding: 7.624633431085044% 4.69208211143695% 7.624633431085044% 4.398826979472141%;
    }

    #u6836popup {
        height: 180px;
        width: 10.3%;
    }

    #u6837 {
        width: 76.93%;
        margin-left: 10.26%;
    }

    #u6837.SSSlideLinkSelected,
    #u6960 {
        width: 76.93%;
        margin-left: 10.26%;
    }

    #u6980 {
        margin-top: 9px;
        width: 76.93%;
        margin-left: 10.26%;
    }

    #u6960.SSSlideLinkSelected,
    #u7000 {
        width: 76.93%;
        margin-left: 10.26%;
    }

    #pu6830-4 {
        width: 79.16%;
        margin-left: 8.98%;
    }

    #u6830-4popup {
        width: 9%;
    }

    #u6831-4popup {
        width: 9%;
        margin-left: 14.01%;
    }

    #u6832popup {
        height: 68px;
        width: 73.34%;
        margin-left: 26.67%;
    }

    #u6834-4,
    #u6966-4,
    #u6986-4,
    #u7006-4 {
        min-height: 48px;
    }

    #u6834-3,
    #u6966-3,
    #u6986-3,
    #u7006-3 {
        margin-left: 4.55%;
        margin-right: 4.545454545454546%;
    }

    #u7018-8 {
        margin-top: 23px;
        width: 92.41%;
        left: 0%;
        margin-left: 14.44%;
    }

    #slideshowu7027 {
        margin-top: 30px;
        width: 100%;
        left: 0%;
        margin-left: 10.89%;
    }

    #u7040popup {
        height: 244px;
        margin-right: -10000px;
        width: 90.38%;
        margin-left: 9.63%;
    }

    #u7041_img {
        padding-left: 28.57142857142857%;
        padding-top: 2.2408963585434174%;
        padding-right: 33.89355742296919%;
        width: 37.54%;
    }

    #u7276_img {
        padding-top: 1.680672268907563%;
        padding-bottom: 1.400560224089636%;
    }

    #u7296_img {
        width: 91.6%;
        padding: 0.8403361344537815% 4.201680672268908%;
    }

    #u7316_img {
        width: 49.02%;
        padding: 1.1204481792717087% 25.49019607843137% 1.400560224089636%;
    }

    #u7336_img {
        padding-top: 3.361344537815126%;
        padding-bottom: 3.081232492997199%;
        width: 100%;
    }

    #u7356_img {
        padding-left: 4.481792717086835%;
        padding-right: 4.481792717086835%;
        padding-bottom: 0.2801120448179272%;
        width: 91.04%;
    }

    #u7029popup {
        height: 185px;
        width: 9.88%;
    }

    #u7000.SSSlideLinkSelected,
    #u7034 {
        width: 76.93%;
        margin-left: 10.26%;
    }

    #u7034.SSSlideLinkSelected,
    #u7282 {
        width: 76.93%;
        margin-left: 10.26%;
    }

    #u6980.SSSlideLinkSelected,
    #u7302 {
        margin-top: 9px;
        width: 76.93%;
        margin-left: 10.26%;
    }

    #u7282.SSSlideLinkSelected,
    #u7322 {
        width: 76.93%;
        margin-left: 10.26%;
    }

    #u7302.SSSlideLinkSelected,
    #u7342 {
        margin-top: 9px;
        width: 76.93%;
        margin-left: 10.26%;
    }

    #u7322.SSSlideLinkSelected,
    #u7362 {
        width: 76.93%;
        margin-left: 10.26%;
    }

    #pu7050-4 {
        margin-top: 5px;
        width: 74.69%;
        margin-left: 10.89%;
    }

    #u7050-4popup {
        width: 9.16%;
    }

    #u7028-4popup {
        width: 9.16%;
        margin-left: 13.9%;
    }

    #u7053popup {
        height: 67px;
        width: 71.19%;
        margin-left: 28.82%;
    }

    #u7056-4,
    #u7288-4,
    #u7308-4,
    #u7328-4,
    #u7348-4,
    #u7368-4 {
        min-height: 47px;
    }

    #u7056-3,
    #u7288-3,
    #u7308-3,
    #u7328-3,
    #u7348-3,
    #u7368-3 {
        margin-left: 4.77%;
        margin-right: 4.761904761904762%;
    }

    #u7021-15 {
        margin-top: 8px;
        width: 92.16%;
        left: 0%;
        margin-left: 14.69%;
    }

    #slideshowu7128 {
        padding-bottom: 0px;
        margin-top: 22px;
        width: 95.95%;
        left: 0%;
        margin-left: 10.89%;
    }

    #pu6843,
    #pu7040,
    #pu7133 {
        width: 100%;
    }

    #u7133popup {
        margin-top: 1px;
        height: 223px;
        margin-right: -10000px;
        width: 89.98%;
        margin-left: 10.03%;
    }

    #u7138_img {
        width: 95.9%;
        padding: 4.398826979472141% 2.0527859237536656% 4.69208211143695%;
    }

    #u7447_img {
        width: 92.38%;
        padding: 6.451612903225806% 3.812316715542522% 6.158357771260997%;
    }

    #u7467_img {
        padding-left: 1.1730205278592376%;
        padding-right: 0.8797653958944283%;
        width: 97.95%;
    }

    #u7487_img {
        padding-left: 0.2932551319648094%;
        padding-right: 0.2932551319648094%;
        width: 99.42%;
    }

    #u7507_img {
        width: 95.9%;
        padding: 5.278592375366569% 2.0527859237536656% 5.571847507331378%;
    }

    #u7527_img {
        width: 98.25%;
        padding: 7.331378299120235% 0.8797653958944283% 7.624633431085044%;
    }

    #u7144popup {
        height: 185px;
        width: 10.3%;
    }

    #u7362.SSSlideLinkSelected,
    #u7149 {
        width: 76.93%;
        margin-left: 10.26%;
    }

    #u7149.SSSlideLinkSelected,
    #u7453 {
        width: 76.93%;
        margin-left: 10.26%;
    }

    #u7342.SSSlideLinkSelected,
    #u7473 {
        margin-top: 9px;
        width: 76.93%;
        margin-left: 10.26%;
    }

    #u7453.SSSlideLinkSelected,
    #u7493 {
        width: 76.93%;
        margin-left: 10.26%;
    }

    #u7473.SSSlideLinkSelected,
    #u7513 {
        margin-top: 9px;
        width: 76.93%;
        margin-left: 10.26%;
    }

    #u7513.SSSlideLinkSelected {
        margin-top: 9px;
        width: 76.93%;
        margin-left: 10.26%;
    }

    #u7493.SSSlideLinkSelected,
    #u7533 {
        width: 76.93%;
        margin-left: 10.26%;
    }

    #u7533.SSSlideLinkSelected {
        width: 76.93%;
        margin-left: 10.26%;
    }

    #pu7130-4 {
        margin-top: 6px;
        width: 73.62%;
        margin-left: 10.3%;
    }

    #u7130-4popup {
        width: 9.68%;
    }

    #u7158-4popup {
        width: 9.68%;
        margin-left: 13.63%;
    }

    #u6830-3,
    #u6831-3,
    #u7050-3,
    #u7028-3,
    #u7130-3,
    #u7158-3 {
        margin-left: 37.04%;
        margin-right: 37.03703703703704%;
    }

    #u7153popup {
        height: 63px;
        width: 68.11%;
        margin-left: 31.9%;
    }

    #u7156-4,
    #u7459-4,
    #u7479-4,
    #u7499-4,
    #u7519-4,
    #u7539-4 {
        min-height: 43px;
    }

    #u7156-3,
    #u7459-3,
    #u7479-3,
    #u7499-3,
    #u7519-3,
    #u7539-3 {
        margin-left: 5.27%;
        margin-right: 5.263157894736842%;
    }

    #u7024-22 {
        margin-top: 22px;
        width: 92.16%;
        left: 0%;
        margin-left: 14.69%;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 5072px);
    }

    #u7561-5 {
        min-height: 46px;
        margin-right: -10000px;
        margin-top: 16px;
        width: 16.88%;
        left: 41.67%;
    }

    body {
        overflow-x: hidden;
        min-width: 320px;
    }

    .verticalspacer {
        min-height: 1px;
    }
}