.version.group_projects {
    color: #0000ED;
    background-color: #7731D3;
}

#page {
    padding-bottom: 62px;
    width: 100%;
    border-width: 0px;
    background-image: none;
    margin-left: auto;
    z-index: 1;
    margin-right: auto;
    border-color: #000000;
    background-color: transparent;
}

#u388-6 {
    min-height: 30px;
    position: relative;
}

.html {
    background-color: #FFFFFF;
}

body {
    position: relative;
}

@media (min-width: 481px),
print {
    #muse_css_mq {
        background-color: #FFFFFF;
    }

    #bp_infinity.active {
        display: block;
    }

    #page {
        min-height: 406px;
        padding-top: 32px;
        max-width: 1200px;
    }

    #u388-6 {
        z-index: 33;
        width: 18.75%;
        margin-left: 24.34%;
    }

    #menuu238 {
        z-index: 2;
        width: 769px;
        height: 42px;
        margin-top: 17px;
        position: relative;
        margin-left: 50%;
        left: -385px;
    }

    #u246 {
        width: 97px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
    }

    #u249 {
        width: 97px;
        padding-bottom: 25px;
        position: relative;
    }

    #u249:hover {
        width: 97px;
        min-height: 0px;
        margin: 0px;
    }

    #u249:active {
        width: 97px;
        min-height: 0px;
        margin: 0px;
    }

    #u249.MuseMenuActive {
        width: 97px;
        min-height: 0px;
        margin: 0px;
    }

    #u250-4 {
        width: 50px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u249:hover #u250-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 50px;
        margin: 0px -10000px 0px 0px;
    }

    #u249:active #u250-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 50px;
        margin: 0px -10000px 0px 0px;
    }

    #u249.MuseMenuActive #u250-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 50px;
        margin: 0px -10000px 0px 0px;
    }

    #u239 {
        width: 186px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 99px;
    }

    #u240 {
        width: 186px;
        padding-bottom: 25px;
        position: relative;
    }

    #u240:hover {
        width: 186px;
        min-height: 0px;
        margin: 0px;
    }

    #u240:active {
        width: 186px;
        min-height: 0px;
        margin: 0px;
    }

    #u240.MuseMenuActive {
        width: 186px;
        min-height: 0px;
        margin: 0px;
    }

    #u241-4 {
        width: 139px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u240:hover #u241-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 139px;
        margin: 0px -10000px 0px 0px;
    }

    #u240:active #u241-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 139px;
        margin: 0px -10000px 0px 0px;
    }

    #u240.MuseMenuActive #u241-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 139px;
        margin: 0px -10000px 0px 0px;
    }

    #u284 {
        width: 183px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 287px;
    }

    #u285 {
        width: 183px;
        padding-bottom: 25px;
        position: relative;
    }

    #u285:hover {
        width: 183px;
        min-height: 0px;
        margin: 0px;
    }

    #u285:active {
        width: 183px;
        min-height: 0px;
        margin: 0px;
    }

    #u285.MuseMenuActive {
        width: 183px;
        min-height: 0px;
        margin: 0px;
    }

    #u287-4 {
        width: 136px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u285:hover #u287-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 136px;
        margin: 0px -10000px 0px 0px;
    }

    #u285:active #u287-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 136px;
        margin: 0px -10000px 0px 0px;
    }

    #u285.MuseMenuActive #u287-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 136px;
        margin: 0px -10000px 0px 0px;
    }

    #u305 {
        width: 176px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 472px;
    }

    #u306 {
        width: 176px;
        padding-bottom: 25px;
        position: relative;
    }

    #u306:hover {
        width: 176px;
        min-height: 0px;
        margin: 0px;
    }

    #u306:active {
        width: 176px;
        min-height: 0px;
        margin: 0px;
    }

    #u306.MuseMenuActive {
        width: 176px;
        min-height: 0px;
        margin: 0px;
    }

    #u308-4 {
        width: 130px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u306:hover #u308-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 130px;
        margin: 0px -10000px 0px 0px;
    }

    #u306:active #u308-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 130px;
        margin: 0px -10000px 0px 0px;
    }

    #u306.MuseMenuActive #u308-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 130px;
        margin: 0px -10000px 0px 0px;
    }

    #u326 {
        width: 119px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 650px;
    }

    #u329 {
        width: 119px;
        padding-bottom: 25px;
        position: relative;
    }

    #u329:hover {
        width: 119px;
        min-height: 0px;
        margin: 0px;
    }

    #u329:active {
        width: 119px;
        min-height: 0px;
        margin: 0px;
    }

    #u329.MuseMenuActive {
        width: 119px;
        min-height: 0px;
        margin: 0px;
    }

    #u332-4 {
        width: 73px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u329:hover #u332-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 73px;
        margin: 0px -10000px 0px 0px;
    }

    #u329:active #u332-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 73px;
        margin: 0px -10000px 0px 0px;
    }

    #u329.MuseMenuActive #u332-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 73px;
        margin: 0px -10000px 0px 0px;
    }

    #pbuttonu2204 {
        z-index: 48;
        margin-top: 31px;
        width: 97.34%;
        margin-left: 1.34%;
    }

    #buttonu2204 {
        z-index: 48;
        border-color: #787878;
        background-color: #7F7F7F;
        position: relative;
        margin-right: -10000px;
        width: 49.66%;
    }

    #u2205 {
        z-index: 49;
        background-color: transparent;
        opacity: 0.53;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
        filter: alpha(opacity=53);
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u2207-11 {
        z-index: 51;
        min-height: 237px;
        background-color: transparent;
        line-height: 60px;
        font-size: 50px;
        text-align: left;
        color: #FFFFFF;
        letter-spacing: 1px;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        position: relative;
        margin-right: -10000px;
        margin-top: 59px;
        width: 90.18%;
        left: 3.45%;
    }

    #buttonu2204:hover #u2207-11 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 237px;
        width: 90.18%;
        margin: 59px -10000px 0px 0%;
    }

    #buttonu2204.ButtonSelected #u2207-11 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 237px;
        width: 90.18%;
        margin: 59px -10000px 0px 0%;
    }

    #buttonu2204:hover #u2207-11 p,
    #buttonu2204:hover #u2207-11 span,
    #buttonu2204.ButtonSelected #u2207-11 p,
    #buttonu2204.ButtonSelected #u2207-11 span {
        color: #FFFFFF;
        visibility: inherit;
    }

    #u2207-4,
    #u2207-7 {
        line-height: 0px;
    }

    #u2207-3,
    #u2207-5 {
        font-size: 48px;
        line-height: 58px;
    }

    #u2207-6 {
        line-height: 60px;
    }

    #buttonu2191 {
        z-index: 39;
        border-color: #787878;
        background-color: #7F7F7F;
        position: relative;
        margin-right: -10000px;
        width: 49.66%;
        left: 50.35%;
    }

    #buttonu2204:hover,
    #buttonu2191:hover {
        background-color: #141414;
        min-height: 0px;
        width: 49.66%;
        margin: 0px -10000px 0px 0%;
    }

    #u679 {
        z-index: 40;
        background-color: transparent;
        opacity: 0.65;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
        filter: alpha(opacity=65);
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #buttonu2204:hover #u2205,
    #buttonu2191:hover #u679 {
        opacity: 0.3;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        min-height: 0px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u2205_img,
    #u679_img {
        width: 100%;
    }

    #u2194-6 {
        z-index: 42;
        min-height: 188px;
        background-color: transparent;
        line-height: 60px;
        font-size: 50px;
        text-align: left;
        color: #FFFFFF;
        letter-spacing: 1px;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        position: relative;
        margin-right: -10000px;
        margin-top: 59px;
        width: 95.87%;
        left: 3.45%;
    }

    #buttonu2191:hover #u2194-6 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 188px;
        width: 95.87%;
        margin: 59px -10000px 0px 0%;
    }

    #buttonu2191.ButtonSelected #u2194-6 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 188px;
        width: 95.87%;
        margin: 59px -10000px 0px 0%;
    }

    #buttonu2191:hover #u2194-6 p,
    #buttonu2191:hover #u2194-6 span,
    #buttonu2191.ButtonSelected #u2194-6 p,
    #buttonu2191.ButtonSelected #u2194-6 span {
        color: #FFFFFF;
        visibility: inherit;
    }

    #u2207-9,
    #u2194-4 {
        padding-left: 2px;
        line-height: 0px;
    }

    #u2207-8,
    #u2194-3 {
        font-size: 20px;
        line-height: 24px;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 903px);
    }
}

@media (max-width: 480px) {
    #muse_css_mq {
        background-color: #0001e0;
    }

    #bp_480.active {
        display: block;
    }

    #page {
        min-height: 418px;
        padding-top: 20px;
        max-width: 480px;
    }

    #pmenuu7843 {
        z-index: 8;
        width: 71.88%;
    }

    #menuu7843 {
        z-index: 8;
        width: 118px;
        height: 106px;
        position: relative;
        margin-right: -10000px;
        margin-left: 69.57%;
        left: -160px;
    }

    #u7851 {
        width: 118px;
        position: relative;
    }

    #u7854 {
        width: 118px;
        padding-bottom: 6px;
        position: relative;
        margin-right: -10000px;
    }

    #u7854:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7854:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7855-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 3px;
    }

    #u7854:hover #u7855-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7854:active #u7855-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7873 {
        width: 118px;
        padding-bottom: 6px;
        position: relative;
        margin-right: -10000px;
    }

    #u7854.MuseMenuActive,
    #u7873:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7873:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7874-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 3px;
    }

    #u7854.MuseMenuActive #u7855-4,
    #u7873:hover #u7874-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7873:active #u7874-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7868 {
        width: 118px;
        padding-bottom: 6px;
        position: relative;
        margin-right: -10000px;
    }

    #u7873.MuseMenuActive,
    #u7868:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7868:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7871-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 3px;
    }

    #u7873.MuseMenuActive #u7874-4,
    #u7868:hover #u7871-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7868:active #u7871-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7845 {
        width: 118px;
        padding-bottom: 5px;
        position: relative;
        margin-right: -10000px;
    }

    #u7868.MuseMenuActive,
    #u7845:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7845:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7848-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 2px;
    }

    #u7868.MuseMenuActive #u7871-4,
    #u7845:hover #u7848-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7845:active #u7848-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7872,
    #u7865,
    #u7844,
    #u7858 {
        width: 118px;
        margin-top: 2px;
        position: relative;
    }

    #u7861 {
        width: 118px;
        padding-bottom: 5px;
        position: relative;
        margin-right: -10000px;
    }

    #u7845.MuseMenuActive,
    #u7861:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861.MuseMenuActive {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7864-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 2px;
    }

    #u7845.MuseMenuActive #u7848-4,
    #u7861:hover #u7864-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861:active #u7864-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861.MuseMenuActive #u7864-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u388-6 {
        z-index: 2;
        margin-right: -10000px;
        margin-top: 40px;
        width: 62.32%;
        left: 37.69%;
        margin-left: 23.48%;
    }

    #buttonu11197 {
        z-index: 39;
        border-color: #787878;
        background-color: #7F7F7F;
        margin-top: 26px;
        position: relative;
        width: 75.84%;
        margin-left: 12.09%;
    }

    #buttonu11197:hover {
        background-color: #141414;
        min-height: 0px;
        width: 75.84%;
        margin: 26px 0px 0px 12.083333333333334%;
    }

    #u12148 {
        z-index: 40;
        background-color: transparent;
        opacity: 0.65;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
        filter: alpha(opacity=65);
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #buttonu11197:hover #u12148 {
        opacity: 0.3;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        min-height: 0px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u11198-11 {
        z-index: 42;
        min-height: 123px;
        background-color: transparent;
        text-align: left;
        letter-spacing: 1px;
        color: #FFFFFF;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        position: relative;
        margin-right: -10000px;
        margin-top: 22px;
        width: 51.38%;
        left: 2.75%;
    }

    #buttonu11197:hover #u11198-11 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 123px;
        width: 51.38%;
        margin: 22px -10000px 0px 0%;
    }

    #buttonu11197.ButtonSelected #u11198-11 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 123px;
        width: 51.38%;
        margin: 22px -10000px 0px 0%;
    }

    #buttonu11197:hover #u11198-11 p,
    #buttonu11197:hover #u11198-11 span,
    #buttonu11197.ButtonSelected #u11198-11 p,
    #buttonu11197.ButtonSelected #u11198-11 span {
        color: #FFFFFF;
        visibility: inherit;
    }

    #u11198-5 {
        font-size: 28px;
    }

    #buttonu11225 {
        z-index: 53;
        border-color: #787878;
        background-color: #7F7F7F;
        margin-top: 4px;
        position: relative;
        width: 75.84%;
        margin-left: 12.09%;
    }

    #buttonu11225:hover {
        background-color: #141414;
        min-height: 0px;
        width: 75.84%;
        margin: 4px 0px 0px 12.083333333333334%;
    }

    #u12165 {
        z-index: 54;
        background-color: transparent;
        opacity: 0.65;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
        filter: alpha(opacity=65);
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #buttonu11225:hover #u12165 {
        opacity: 0.3;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        min-height: 0px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #buttonu11197.ButtonSelected #u12148,
    #buttonu11225.ButtonSelected #u12165 {
        opacity: 0.65;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
        filter: alpha(opacity=65);
        min-height: 0px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u12148_img,
    #u12165_img {
        width: 100%;
    }

    #u11228-7 {
        z-index: 56;
        min-height: 113px;
        background-color: transparent;
        text-align: left;
        letter-spacing: 1px;
        color: #FFFFFF;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        position: relative;
        margin-right: -10000px;
        margin-top: 32px;
        width: 49.46%;
        left: 3.3%;
    }

    #buttonu11225:hover #u11228-7 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 113px;
        width: 49.46%;
        margin: 32px -10000px 0px 0%;
    }

    #buttonu11225.ButtonSelected #u11228-7 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 113px;
        width: 49.46%;
        margin: 32px -10000px 0px 0%;
    }

    #buttonu11225:hover #u11228-7 p,
    #buttonu11225:hover #u11228-7 span,
    #buttonu11225.ButtonSelected #u11228-7 p,
    #buttonu11225.ButtonSelected #u11228-7 span {
        color: #FFFFFF;
        visibility: inherit;
    }

    #u11228-3 {
        font-size: 50px;
        line-height: 0px;
    }

    #u11198-2,
    #u11198-4,
    #u11198-7,
    #u11228 {
        font-size: 28px;
        line-height: 34px;
    }

    #u11228-2 {
        line-height: 60px;
    }

    #u11198-9,
    #u11228-5 {
        font-size: 12px;
        line-height: 14px;
        padding-left: 2px;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 837px);
    }

    body {
        overflow-x: hidden;
        min-width: 320px;
    }
}