.version.individual_work {
    color: #0000FF;
    background-color: #715936;
}

#page {
    padding-bottom: 62px;
    width: 100%;
    border-width: 0px;
    background-image: none;
    margin-left: auto;
    z-index: 1;
    margin-right: auto;
    border-color: #000000;
    background-color: transparent;
}

#u388-6 {
    min-height: 30px;
    position: relative;
}

.html {
    background-color: #FFFFFF;
}

body {
    position: relative;
}

@media (min-width: 481px),
print {
    #muse_css_mq {
        background-color: #FFFFFF;
    }

    #bp_infinity.active {
        display: block;
    }

    #page {
        min-height: 406px;
        padding-top: 32px;
        max-width: 1200px;
    }

    #u388-6 {
        z-index: 33;
        width: 18.75%;
        margin-left: 24.34%;
    }

    #menuu238 {
        z-index: 2;
        width: 769px;
        height: 42px;
        margin-top: 17px;
        position: relative;
        margin-left: 50%;
        left: -385px;
    }

    #u246 {
        width: 97px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
    }

    #u249 {
        width: 97px;
        padding-bottom: 25px;
        position: relative;
    }

    #u249:hover {
        width: 97px;
        min-height: 0px;
        margin: 0px;
    }

    #u249:active {
        width: 97px;
        min-height: 0px;
        margin: 0px;
    }

    #u249.MuseMenuActive {
        width: 97px;
        min-height: 0px;
        margin: 0px;
    }

    #u250-4 {
        width: 50px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u249:hover #u250-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 50px;
        margin: 0px -10000px 0px 0px;
    }

    #u249:active #u250-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 50px;
        margin: 0px -10000px 0px 0px;
    }

    #u249.MuseMenuActive #u250-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 50px;
        margin: 0px -10000px 0px 0px;
    }

    #u239 {
        width: 186px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 99px;
    }

    #u240 {
        width: 186px;
        padding-bottom: 25px;
        position: relative;
    }

    #u240:hover {
        width: 186px;
        min-height: 0px;
        margin: 0px;
    }

    #u240:active {
        width: 186px;
        min-height: 0px;
        margin: 0px;
    }

    #u240.MuseMenuActive {
        width: 186px;
        min-height: 0px;
        margin: 0px;
    }

    #u241-4 {
        width: 139px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u240:hover #u241-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 139px;
        margin: 0px -10000px 0px 0px;
    }

    #u240:active #u241-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 139px;
        margin: 0px -10000px 0px 0px;
    }

    #u240.MuseMenuActive #u241-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 139px;
        margin: 0px -10000px 0px 0px;
    }

    #u284 {
        width: 183px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 287px;
    }

    #u285 {
        width: 183px;
        padding-bottom: 25px;
        position: relative;
    }

    #u285:hover {
        width: 183px;
        min-height: 0px;
        margin: 0px;
    }

    #u285:active {
        width: 183px;
        min-height: 0px;
        margin: 0px;
    }

    #u285.MuseMenuActive {
        width: 183px;
        min-height: 0px;
        margin: 0px;
    }

    #u287-4 {
        width: 136px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u285:hover #u287-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 136px;
        margin: 0px -10000px 0px 0px;
    }

    #u285:active #u287-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 136px;
        margin: 0px -10000px 0px 0px;
    }

    #u285.MuseMenuActive #u287-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 136px;
        margin: 0px -10000px 0px 0px;
    }

    #u305 {
        width: 176px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 472px;
    }

    #u306 {
        width: 176px;
        padding-bottom: 25px;
        position: relative;
    }

    #u306:hover {
        width: 176px;
        min-height: 0px;
        margin: 0px;
    }

    #u306:active {
        width: 176px;
        min-height: 0px;
        margin: 0px;
    }

    #u306.MuseMenuActive {
        width: 176px;
        min-height: 0px;
        margin: 0px;
    }

    #u308-4 {
        width: 130px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u306:hover #u308-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 130px;
        margin: 0px -10000px 0px 0px;
    }

    #u306:active #u308-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 130px;
        margin: 0px -10000px 0px 0px;
    }

    #u306.MuseMenuActive #u308-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 130px;
        margin: 0px -10000px 0px 0px;
    }

    #u326 {
        width: 119px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 650px;
    }

    #u329 {
        width: 119px;
        padding-bottom: 25px;
        position: relative;
    }

    #u329:hover {
        width: 119px;
        min-height: 0px;
        margin: 0px;
    }

    #u329:active {
        width: 119px;
        min-height: 0px;
        margin: 0px;
    }

    #u329.MuseMenuActive {
        width: 119px;
        min-height: 0px;
        margin: 0px;
    }

    #u332-4 {
        width: 73px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u329:hover #u332-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 73px;
        margin: 0px -10000px 0px 0px;
    }

    #u329:active #u332-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 73px;
        margin: 0px -10000px 0px 0px;
    }

    #u329.MuseMenuActive #u332-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 73px;
        margin: 0px -10000px 0px 0px;
    }

    #pbuttonu2071 {
        z-index: 39;
        margin-top: 31px;
        width: 97.42%;
        margin-left: 1.25%;
    }

    #buttonu2071 {
        z-index: 39;
        border-color: #787878;
        background-color: #666666;
        position: relative;
        margin-right: -10000px;
        margin-top: 1px;
        width: 33.79%;
    }

    #buttonu2071:hover {
        background-color: #141414;
        min-height: 0px;
        width: 33.79%;
        margin: 1px -10000px 0px 0%;
    }

    #u1924 {
        z-index: 40;
        background-color: transparent;
        opacity: 0.65;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
        filter: alpha(opacity=65);
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #buttonu2071:hover #u1924 {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
        opacity: 0.25;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
        filter: alpha(opacity=25);
        border-radius: 0px;
        min-height: 0px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u1924_img {
        width: 100.26%;
    }

    #u2072-10 {
        z-index: 42;
        min-height: 23px;
        background-color: transparent;
        line-height: 60px;
        font-size: 50px;
        text-align: left;
        color: #FFFFFF;
        letter-spacing: 1px;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        position: relative;
        margin-right: -10000px;
        margin-top: 105px;
        width: 92.41%;
        left: 4.31%;
    }

    #buttonu2071:hover #u2072-10 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 23px;
        width: 92.41%;
        margin: 105px -10000px 0px 0%;
    }

    #buttonu2071.ButtonSelected #u2072-10 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 23px;
        width: 92.41%;
        margin: 105px -10000px 0px 0%;
    }

    #buttonu2071:hover #u2072-10 p,
    #buttonu2071:hover #u2072-10 span,
    #buttonu2071.ButtonSelected #u2072-10 p,
    #buttonu2071.ButtonSelected #u2072-10 span {
        color: #FFFFFF;
        visibility: inherit;
    }

    #buttonu2125 {
        z-index: 52;
        border-color: #787878;
        background-color: #666666;
        position: relative;
        margin-right: -10000px;
        width: 32.6%;
        left: 34.39%;
    }

    #buttonu2125:hover {
        background-color: #141414;
        min-height: 0px;
        width: 32.6%;
        margin: 0px -10000px 0px 0%;
    }

    #u2096 {
        z-index: 53;
        background-color: transparent;
        opacity: 0.58;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
        filter: alpha(opacity=57.99999999999999);
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #buttonu2125:hover #u2096 {
        opacity: 0.25;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
        filter: alpha(opacity=25);
        min-height: 0px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #buttonu2125.ButtonSelected #u2096 {
        opacity: 0.58;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
        filter: alpha(opacity=57.99999999999999);
        min-height: 0px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u2096_img {
        width: 100.27%;
    }

    #u2077-6 {
        z-index: 55;
        min-height: 23px;
        background-color: transparent;
        line-height: 60px;
        font-size: 50px;
        text-align: left;
        color: #FFFFFF;
        letter-spacing: 1px;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        position: relative;
        margin-right: -10000px;
        margin-top: 105px;
        width: 94.49%;
        left: 2.63%;
    }

    #buttonu2125:hover #u2077-6 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 23px;
        width: 94.49%;
        margin: 105px -10000px 0px 0%;
    }

    #buttonu2125.ButtonSelected #u2077-6 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 23px;
        width: 94.49%;
        margin: 105px -10000px 0px 0%;
    }

    #buttonu2125:hover #u2077-6 p,
    #buttonu2125:hover #u2077-6 span,
    #buttonu2125.ButtonSelected #u2077-6 p,
    #buttonu2125.ButtonSelected #u2077-6 span {
        color: #FFFFFF;
        visibility: inherit;
    }

    #u2072-2,
    #u2072-4,
    #u2072-6,
    #u2077-2 {
        line-height: 0px;
    }

    #u2072,
    #u2072-3,
    #u2072-5,
    #u2077 {
        font-size: 44px;
        line-height: 53px;
    }

    #u2072-8,
    #u2077-4 {
        padding-left: 2px;
        line-height: 0px;
    }

    #buttonu2131 {
        z-index: 61;
        border-color: #787878;
        background-color: #666666;
        position: relative;
        margin-right: -10000px;
        width: 32.25%;
        left: 67.76%;
    }

    #buttonu2131:hover {
        background-color: #141414;
        min-height: 0px;
        width: 32.25%;
        margin: 0px -10000px 0px 0%;
    }

    #u7707-12 {
        z-index: 62;
        min-height: 23px;
        background-color: transparent;
        text-align: left;
        letter-spacing: 1px;
        color: #FFFFFF;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        position: relative;
        margin-right: -10000px;
        margin-top: 105px;
        width: 95.5%;
        left: 3.19%;
    }

    #buttonu2131:hover #u7707-12 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 23px;
        width: 95.5%;
        margin: 105px -10000px 0px 0%;
    }

    #buttonu2131.ButtonSelected #u7707-12 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 23px;
        width: 95.5%;
        margin: 105px -10000px 0px 0%;
    }

    #buttonu2131:hover #u7707-12 p,
    #buttonu2131:hover #u7707-12 span,
    #buttonu2131.ButtonSelected #u7707-12 p,
    #buttonu2131.ButtonSelected #u7707-12 span {
        color: #FFFFFF;
        visibility: inherit;
    }

    #u2112 {
        z-index: 74;
        background-color: transparent;
        opacity: 0.6;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: alpha(opacity=60);
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #buttonu2131:hover #u2112 {
        opacity: 0.3;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        min-height: 0px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u2112_img {
        width: 100%;
    }

    #buttonu12549 {
        z-index: 76;
        border-color: #787878;
        background-color: #5e5f5c;
        padding-bottom: 29px;
        margin-top: 30px;
        position: relative;
        width: 97.42%;
        margin-left: 1.25%;
    }

    #buttonu12549:hover {
        background-color: #141414;
        min-height: 0px;
        width: 97.42%;
        margin: 30px 0px 0px 1.25%;
    }

    #u12552-6 {
        z-index: 77;
        min-height: 23px;
        background-color: transparent;
        text-align: left;
        letter-spacing: 1px;
        color: #FFFFFF;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        position: relative;
        margin-right: -10000px;
        margin-top: 19px;
        width: 30.8%;
        left: 0.86%;
    }

    #buttonu12549:hover #u12552-6 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 23px;
        width: 30.8%;
        margin: 19px -10000px 0px 0%;
    }

    #buttonu12549.ButtonSelected #u12552-6 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 23px;
        width: 30.8%;
        margin: 19px -10000px 0px 0%;
    }

    #buttonu12549:hover #u12552-6 p,
    #buttonu12549:hover #u12552-6 span,
    #buttonu12549.ButtonSelected #u12552-6 p,
    #buttonu12549.ButtonSelected #u12552-6 span {
        color: #FFFFFF;
        visibility: inherit;
    }

    #u7707-2,
    #u7707-4,
    #u7707-6,
    #u7707-8,
    #u12552-2 {
        font-size: 43px;
        line-height: 52px;
        padding-left: 2px;
    }

    #u7707-10,
    #u12552-4 {
        font-size: 16px;
        padding-left: 2px;
        line-height: 0px;
    }

    #u2072-7,
    #u2077-3,
    #u7707-9,
    #u12552-3 {
        font-size: 14px;
        line-height: 17px;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 1033px);
    }
}

@media (max-width: 480px) {
    #muse_css_mq {
        background-color: #0001e0;
    }

    #bp_480.active {
        display: block;
    }

    #page {
        min-height: 418px;
        padding-top: 20px;
        max-width: 480px;
    }

    #pmenuu7843 {
        z-index: 8;
        width: 71.88%;
    }

    #menuu7843 {
        z-index: 8;
        width: 118px;
        height: 106px;
        position: relative;
        margin-right: -10000px;
        margin-left: 69.57%;
        left: -160px;
    }

    #u7851 {
        width: 118px;
        position: relative;
    }

    #u7854 {
        width: 118px;
        padding-bottom: 6px;
        position: relative;
        margin-right: -10000px;
    }

    #u7854:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7854:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7855-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 3px;
    }

    #u7854:hover #u7855-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7854:active #u7855-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7873 {
        width: 118px;
        padding-bottom: 6px;
        position: relative;
        margin-right: -10000px;
    }

    #u7854.MuseMenuActive,
    #u7873:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7873:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7874-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 3px;
    }

    #u7854.MuseMenuActive #u7855-4,
    #u7873:hover #u7874-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7873:active #u7874-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7868 {
        width: 118px;
        padding-bottom: 6px;
        position: relative;
        margin-right: -10000px;
    }

    #u7873.MuseMenuActive,
    #u7868:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7868:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7871-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 3px;
    }

    #u7873.MuseMenuActive #u7874-4,
    #u7868:hover #u7871-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7868:active #u7871-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7845 {
        width: 118px;
        padding-bottom: 5px;
        position: relative;
        margin-right: -10000px;
    }

    #u7868.MuseMenuActive,
    #u7845:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7845:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7848-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 2px;
    }

    #u7868.MuseMenuActive #u7871-4,
    #u7845:hover #u7848-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7845:active #u7848-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7872,
    #u7865,
    #u7844,
    #u7858 {
        width: 118px;
        margin-top: 2px;
        position: relative;
    }

    #u7861 {
        width: 118px;
        padding-bottom: 5px;
        position: relative;
        margin-right: -10000px;
    }

    #u7845.MuseMenuActive,
    #u7861:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861.MuseMenuActive {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7864-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 2px;
    }

    #u7845.MuseMenuActive #u7848-4,
    #u7861:hover #u7864-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861:active #u7864-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861.MuseMenuActive #u7864-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u388-6 {
        z-index: 2;
        margin-right: -10000px;
        margin-top: 40px;
        width: 62.32%;
        left: 37.69%;
        margin-left: 23.48%;
    }

    #buttonu10082 {
        z-index: 39;
        border-color: #787878;
        background-color: #666666;
        margin-top: 26px;
        position: relative;
        width: 76.05%;
        margin-left: 11.88%;
    }

    #buttonu10082:hover {
        background-color: #141414;
        min-height: 0px;
        width: 76.05%;
        margin: 26px 0px 0px 11.875%;
    }

    #u12222 {
        z-index: 40;
        background-color: transparent;
        opacity: 0.65;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
        filter: alpha(opacity=65);
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #buttonu10082:hover #u12222 {
        opacity: 0.3;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        min-height: 0px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u10085-10 {
        z-index: 42;
        min-height: 132px;
        background-color: transparent;
        text-align: left;
        letter-spacing: 1px;
        color: #FFFFFF;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        position: relative;
        margin-right: -10000px;
        margin-top: 6px;
        width: 40%;
        left: 1.92%;
    }

    #buttonu10082:hover #u10085-10 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 132px;
        width: 40%;
        margin: 6px -10000px 0px 0%;
    }

    #buttonu10082.ButtonSelected #u10085-10 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 132px;
        width: 40%;
        margin: 6px -10000px 0px 0%;
    }

    #buttonu10082:hover #u10085-10 p,
    #buttonu10082:hover #u10085-10 span,
    #buttonu10082.ButtonSelected #u10085-10 p,
    #buttonu10082.ButtonSelected #u10085-10 span {
        color: #FFFFFF;
        visibility: inherit;
    }

    #u10085,
    #u10085-3,
    #u10085-5 {
        font-size: 32px;
        line-height: 38px;
    }

    #buttonu10126 {
        z-index: 52;
        border-color: #787878;
        background-color: #666666;
        margin-top: 4px;
        position: relative;
        width: 76.05%;
        margin-left: 11.88%;
    }

    #u12235 {
        z-index: 53;
        background-color: transparent;
        opacity: 0.65;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
        filter: alpha(opacity=65);
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #buttonu10126:hover #u12235 {
        opacity: 0.3;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        min-height: 0px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u10129-6 {
        z-index: 55;
        min-height: 23px;
        background-color: transparent;
        text-align: left;
        letter-spacing: 1px;
        color: #FFFFFF;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        position: relative;
        margin-right: -10000px;
        margin-top: 6px;
        width: 40.55%;
        left: 1.1%;
    }

    #buttonu10126:hover #u10129-6 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 23px;
        width: 40.55%;
        margin: 6px -10000px 0px 0%;
    }

    #buttonu10126.ButtonSelected #u10129-6 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 23px;
        width: 40.55%;
        margin: 6px -10000px 0px 0%;
    }

    #buttonu10126:hover #u10129-6 p,
    #buttonu10126:hover #u10129-6 span,
    #buttonu10126.ButtonSelected #u10129-6 p,
    #buttonu10126.ButtonSelected #u10129-6 span {
        color: #FFFFFF;
        visibility: inherit;
    }

    #u10085-2,
    #u10085-4,
    #u10085-6,
    #u10129-2 {
        font-size: 50px;
        line-height: 0px;
    }

    #u10129 {
        font-size: 30px;
        line-height: 36px;
    }

    #buttonu10154 {
        z-index: 61;
        border-color: #787878;
        background-color: #666666;
        margin-top: 4px;
        position: relative;
        width: 76.05%;
        margin-left: 11.88%;
    }

    #u12248 {
        z-index: 62;
        background-color: transparent;
        opacity: 0.65;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
        filter: alpha(opacity=65);
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #buttonu10154:hover #u12248 {
        opacity: 0.3;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        min-height: 0px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #buttonu10082.ButtonSelected #u12222,
    #buttonu10126.ButtonSelected #u12235,
    #buttonu10154.ButtonSelected #u12248 {
        opacity: 0.65;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
        filter: alpha(opacity=65);
        min-height: 0px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u12222_img,
    #u12235_img,
    #u12248_img {
        width: 100%;
    }

    #u10157-12 {
        z-index: 64;
        min-height: 147px;
        background-color: transparent;
        text-align: left;
        letter-spacing: 1px;
        color: #FFFFFF;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        position: relative;
        margin-right: -10000px;
        margin-top: 6px;
        width: 40.28%;
        left: 1.1%;
    }

    #buttonu10154:hover #u10157-12 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 147px;
        width: 40.28%;
        margin: 6px -10000px 0px 0%;
    }

    #buttonu10154.ButtonSelected #u10157-12 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 147px;
        width: 40.28%;
        margin: 6px -10000px 0px 0%;
    }

    #buttonu10154:hover #u10157-12 p {
        color: #FFFFFF;
        visibility: inherit;
    }

    #buttonu12522 {
        z-index: 76;
        border-color: #787878;
        background-color: #666666;
        padding-bottom: 2px;
        margin-top: 4px;
        position: relative;
        width: 76.05%;
        margin-left: 11.88%;
    }

    #buttonu10126:hover,
    #buttonu10154:hover,
    #buttonu12522:hover {
        background-color: #141414;
        min-height: 0px;
        width: 76.05%;
        margin: 4px 0px 0px 11.875%;
    }

    #u12525-6 {
        z-index: 77;
        min-height: 88px;
        background-color: transparent;
        text-align: left;
        letter-spacing: 1px;
        color: #FFFFFF;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        position: relative;
        margin-right: -10000px;
        margin-top: 6px;
        width: 40.28%;
        left: 1.1%;
    }

    #buttonu12522:hover #u12525-6 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 88px;
        width: 40.28%;
        margin: 6px -10000px 0px 0%;
    }

    #buttonu12522.ButtonSelected #u12525-6 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 88px;
        width: 40.28%;
        margin: 6px -10000px 0px 0%;
    }

    #buttonu10154.ButtonSelected #u10157-12 p,
    #buttonu12522:hover #u12525-6 p {
        color: #FFFFFF;
        visibility: inherit;
    }

    #buttonu12522.ButtonSelected #u12525-6 p {
        color: #FFFFFF;
        visibility: inherit;
    }

    #u10157-2,
    #u10157-4,
    #u10157-6,
    #u10157-8,
    #u12525-2 {
        font-size: 29px;
        line-height: 35px;
        padding-left: 2px;
    }

    #u10085-8,
    #u10129-4,
    #u10157-10,
    #u12525-4 {
        font-size: 10px;
        line-height: 12px;
        padding-left: 2px;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 1154px);
    }

    body {
        overflow-x: hidden;
        min-width: 320px;
    }
}