.version.light_cycle_lamps {
    color: #000007;
    background-color: #2140D7;
}

@font-face {
    font-family: '__Nimbus Sans L_5';
    src: url('../fonts/nimbus-sans-l_regular.eot');
    src: local('☺'), url('../fonts/nimbus-sans-l_regular.woff') format('woff'), url('../fonts/nimbus-sans-l_regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

#page {
    min-height: 500px;
    border-width: 0px;
    margin-right: auto;
    background-image: none;
    margin-left: auto;
    z-index: 1;
    width: 100%;
    border-color: #000000;
    background-color: transparent;
}

#u388-6 {
    min-height: 30px;
    position: relative;
}

#u468-4 {
    min-height: 58px;
    left: 0%;
    font-family: '__Nimbus Sans L_5';
    position: relative;
    text-transform: none;
    font-size: 60px;
    z-index: 39;
    font-weight: 400;
    line-height: 72px;
    background-color: transparent;
}

#u471-4 {
    min-height: 102px;
    color: #7F7F7F;
    font-family: '__Nimbus Sans L_5';
    font-weight: 400;
    left: 0%;
    position: relative;
    font-size: 18px;
    z-index: 43;
    line-height: 22px;
    background-color: transparent;
}

#u478 {
    left: 0%;
    z-index: 52;
    position: relative;
    width: 100%;
    background-color: transparent;
}

#u475-5 {
    color: #7F7F7F;
    font-family: '__Nimbus Sans L_5';
    font-weight: 400;
    left: 0%;
    text-align: center;
    position: relative;
    font-size: 18px;
    z-index: 47;
    line-height: 22px;
    background-color: transparent;
}

#slideshowu1364 {
    z-index: 54;
    position: relative;
}

#u1365popup {
    margin-right: -10000px;
    z-index: 55;
}

#u1584 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 56;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u1370 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 58;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u1524 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 60;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u1504 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 62;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u1544 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 64;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u1564 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 66;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u1383 {
    pointer-events: none;
    position: absolute;
    border-width: 0px;
    width: 100%;
    border-color: transparent;
    background-color: transparent;
}

#u1383popup {
    margin-right: -10000px;
    z-index: 68;
}

#u1590 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 69;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
}

#u1590.SSSlideLinkSelected {
    margin-bottom: 0px;
    border-width: 0px;
    margin-top: 0px;
    min-height: 5px;
    margin-right: 0px;
    border-color: transparent;
}

#u1510 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 75;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
    margin-top: 10px;
}

#u1388 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 71;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
}

#u1550 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 77;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
    margin-top: 10px;
}

#u1530 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 73;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
}

#u1388.SSSlideLinkSelected,
#u1530.SSSlideLinkSelected {
    margin-bottom: 0px;
    border-width: 0px;
    min-height: 5px;
    margin-right: 0px;
    border-color: transparent;
}

#u1570 {
    min-height: 5px;
    pointer-events: auto;
    z-index: 79;
    position: relative;
    border-color: #6B6B6B;
    background-color: transparent;
    margin-top: 10px;
}

#u1510.SSSlideLinkSelected,
#u1550.SSSlideLinkSelected,
#u1570.SSSlideLinkSelected {
    margin-bottom: 0px;
    border-width: 0px;
    margin-top: 10px;
    min-height: 5px;
    margin-right: 0px;
    border-color: transparent;
}

#u1365,
#u1378 {
    width: 100%;
    background-color: transparent;
    position: absolute;
}

#u1378popup {
    margin-right: -10000px;
    z-index: 81;
}

#u1596-4 {
    border-width: 0px;
    width: 100%;
    z-index: 82;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u1379-4 {
    border-width: 0px;
    width: 100%;
    z-index: 86;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u1536-4 {
    border-width: 0px;
    width: 100%;
    z-index: 90;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u1516-4 {
    border-width: 0px;
    width: 100%;
    z-index: 94;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u1556-4 {
    border-width: 0px;
    width: 100%;
    z-index: 98;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u1576-4 {
    border-width: 0px;
    width: 100%;
    z-index: 102;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10000px;
    border-color: transparent;
    background-color: #FFFFFF;
    position: relative;
}

#u1596-3,
#u1379-3,
#u1536-3,
#u1516-3,
#u1556-3,
#u1576-3 {
    color: #999999;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    line-height: 20px;
    text-align: right;
}

#u1382-4popup {
    margin-right: -10000px;
    z-index: 106;
    height: 40px;
}

#u1382-4,
#u1377-4 {
    min-height: 20px;
    border-width: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-color: transparent;
    background-color: #FFFFFF;
    position: absolute;
}

#u1377-4popup {
    margin-right: -10000px;
    z-index: 110;
    height: 40px;
}

#u1382-3,
#u1377-3 {
    color: #999999;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    line-height: 20px;
    text-align: center;
}

.SSFirstButton,
.SSPreviousButton,
.SSNextButton,
.SSLastButton,
.SSSlideLink,
.SSCloseButton {
    cursor: pointer;   
    border: 1px solid grey !important;
}

.SSSlideLoading {
    background: url("../images/loading.gif?crc=3815509949") no-repeat center center;
}

#u7567-5 {
    min-height: 46px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    text-align: center;
    margin-top: 16px;
}

#u7567 {
    text-transform: uppercase;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
}

.html {
    background-color: #FFFFFF;
}

body {
    position: relative;
}

.verticalspacer {
    min-height: 1px;
}

@media (min-width: 481px),
print {
    #muse_css_mq {
        background-color: #FFFFFF;
    }

    #bp_infinity.active {
        display: block;
    }

    #page {
        max-width: 1200px;
    }

    #pu388-6 {
        z-index: 33;
        padding-bottom: 0px;
        margin-right: -10000px;
        margin-top: 32px;
        width: 148%;
    }

    #u388-6 {
        z-index: 33;
        width: 12.67%;
        left: 0%;
        margin-left: 16.39%;
    }

    #menuu238 {
        z-index: 2;
        width: 769px;
        height: 42px;
        margin-top: 17px;
        position: relative;
        margin-left: 33.79%;
        left: -385px;
    }

    #u246 {
        width: 97px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
    }

    #u249 {
        width: 97px;
        padding-bottom: 25px;
        position: relative;
    }

    #u249:hover {
        width: 97px;
        min-height: 0px;
        margin: 0px;
    }

    #u249:active {
        width: 97px;
        min-height: 0px;
        margin: 0px;
    }

    #u249.MuseMenuActive {
        width: 97px;
        min-height: 0px;
        margin: 0px;
    }

    #u250-4 {
        width: 50px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u249:hover #u250-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 50px;
        margin: 0px -10000px 0px 0px;
    }

    #u249:active #u250-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 50px;
        margin: 0px -10000px 0px 0px;
    }

    #u249.MuseMenuActive #u250-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 50px;
        margin: 0px -10000px 0px 0px;
    }

    #u239 {
        width: 186px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 99px;
    }

    #u240 {
        width: 186px;
        padding-bottom: 25px;
        position: relative;
    }

    #u240:hover {
        width: 186px;
        min-height: 0px;
        margin: 0px;
    }

    #u240:active {
        width: 186px;
        min-height: 0px;
        margin: 0px;
    }

    #u240.MuseMenuActive {
        width: 186px;
        min-height: 0px;
        margin: 0px;
    }

    #u241-4 {
        width: 139px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u240:hover #u241-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 139px;
        margin: 0px -10000px 0px 0px;
    }

    #u240:active #u241-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 139px;
        margin: 0px -10000px 0px 0px;
    }

    #u240.MuseMenuActive #u241-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 139px;
        margin: 0px -10000px 0px 0px;
    }

    #u284 {
        width: 183px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 287px;
    }

    #u285 {
        width: 183px;
        padding-bottom: 25px;
        position: relative;
    }

    #u285:hover {
        width: 183px;
        min-height: 0px;
        margin: 0px;
    }

    #u285:active {
        width: 183px;
        min-height: 0px;
        margin: 0px;
    }

    #u285.MuseMenuActive {
        width: 183px;
        min-height: 0px;
        margin: 0px;
    }

    #u287-4 {
        width: 136px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u285:hover #u287-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 136px;
        margin: 0px -10000px 0px 0px;
    }

    #u285:active #u287-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 136px;
        margin: 0px -10000px 0px 0px;
    }

    #u285.MuseMenuActive #u287-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 136px;
        margin: 0px -10000px 0px 0px;
    }

    #u305 {
        width: 176px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 472px;
    }

    #u306 {
        width: 176px;
        padding-bottom: 25px;
        position: relative;
    }

    #u306:hover {
        width: 176px;
        min-height: 0px;
        margin: 0px;
    }

    #u306:active {
        width: 176px;
        min-height: 0px;
        margin: 0px;
    }

    #u306.MuseMenuActive {
        width: 176px;
        min-height: 0px;
        margin: 0px;
    }

    #u308-4 {
        width: 130px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u306:hover #u308-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 130px;
        margin: 0px -10000px 0px 0px;
    }

    #u306:active #u308-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 130px;
        margin: 0px -10000px 0px 0px;
    }

    #u306.MuseMenuActive #u308-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 130px;
        margin: 0px -10000px 0px 0px;
    }

    #u326 {
        width: 119px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 650px;
    }

    #u329 {
        width: 119px;
        padding-bottom: 25px;
        position: relative;
    }

    #u329:hover {
        width: 119px;
        min-height: 0px;
        margin: 0px;
    }

    #u329:active {
        width: 119px;
        min-height: 0px;
        margin: 0px;
    }

    #u329.MuseMenuActive {
        width: 119px;
        min-height: 0px;
        margin: 0px;
    }

    #u332-4 {
        width: 73px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u329:hover #u332-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 73px;
        margin: 0px -10000px 0px 0px;
    }

    #u329:active #u332-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 73px;
        margin: 0px -10000px 0px 0px;
    }

    #u329.MuseMenuActive #u332-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 73px;
        margin: 0px -10000px 0px 0px;
    }

    #u468-4 {
        margin-top: 31px;
        width: 27.71%;
        margin-left: 11.21%;
    }

    #u471-4 {
        margin-top: 33px;
        width: 44.99%;
        margin-left: 11.27%;
    }

    #u478 {
        margin-top: 24px;
        margin-left: -16.28%;
    }

    #u478_img {
        padding-left: 17.34179992115255%;
        padding-right: 17.34179992115255%;
        width: 65.32%;
    }

    #u475-5 {
        min-height: 102px;
        margin-top: 22px;
        width: 43.25%;
        margin-left: 12.11%;
    }

    #pslideshowu1364 {
        z-index: 54;
        margin-top: 53px;
        width: 58.34%;
        left: 0%;
        margin-left: 4.57%;
    }

    #slideshowu1364 {
        margin-right: -10000px;
        width: 100%;
    }

    #u1365popup {
        height: 528px;
        width: 94.89%;
        margin-left: 5.12%;
    }

    #u1584_img {
        width: 65.82%;
        padding: 5.493387589013224% 17.09053916581892% 5.391658189216684%;
    }

    #u1370_img {
        width: 40.19%;
        padding: 10.376398779247202% 30.111902339776197% 10.681586978636826% 29.704984740590028%;
    }

    #u1524_img {
        width: 84.34%;
        padding: 13.936927772126145% 7.8331637843336726% 13.835198372329604%;
    }

    #u1504_img {
        width: 83.52%;
        padding: 14.038657171922686% 8.240081383519836%;
    }

    #u1544_img {
        width: 88%;
        padding: 0.7121057985757884% 6.002034587995931%;
    }

    #u1564_img {
        width: 36.42%;
        padding: 16.7853509664293% 31.739572736520856% 16.7853509664293% 31.841302136317395%;
    }

    #u1383popup {
        margin-top: 113px;
        height: 330px;
        width: 7.63%;
    }

    #u1590 {
        width: 75.95%;
        margin-left: 11.4%;
    }

    #u1388 {
        margin-top: 10px;
        width: 75.95%;
        margin-left: 11.4%;
    }

    #u1388.SSSlideLinkSelected,
    #u1530 {
        margin-top: 10px;
        width: 75.95%;
        margin-left: 11.4%;
    }

    #u1530.SSSlideLinkSelected {
        margin-top: 10px;
        width: 75.95%;
        margin-left: 11.4%;
    }

    #u1590.SSSlideLinkSelected,
    #u1510 {
        width: 75.95%;
        margin-left: 11.4%;
    }

    #u1510.SSSlideLinkSelected,
    #u1550 {
        width: 75.95%;
        margin-left: 11.4%;
    }

    #u1550.SSSlideLinkSelected,
    #u1570 {
        width: 75.95%;
        margin-left: 11.4%;
    }

    #u1570.SSSlideLinkSelected {
        width: 75.95%;
        margin-left: 11.4%;
    }

    #u1590_img,
    #u1388_img,
    #u1530_img,
    #u1510_img,
    #u1550_img,
    #u1570_img {
        width: 101.67%;
    }

    #u1378popup {
        margin-top: 483px;
        height: 40px;
        width: 27.03%;
        margin-left: 15.93%;
    }

    #u1596-4,
    #u1379-4,
    #u1536-4,
    #u1516-4,
    #u1556-4,
    #u1576-4 {
        min-height: 20px;
    }

    #u1596-3,
    #u1379-3,
    #u1536-3,
    #u1516-3,
    #u1556-3,
    #u1576-3 {
        margin-left: 3.58%;
        margin-right: 3.5767777703261574%;
    }

    #u1382-4popup {
        margin-top: 483px;
        width: 5.22%;
        margin-left: 44.79%;
    }

    #u1377-4popup {
        margin-top: 483px;
        width: 5.22%;
        margin-left: 50.78%;
    }

    #u1382-3,
    #u1377-3 {
        margin-left: 18.49%;
        margin-right: 18.480018480018483%;
    }

    #u2310-3 {
        z-index: 114;
        min-height: 72px;
        background-color: transparent;
        position: relative;
        margin-right: -10000px;
        margin-top: 495px;
        width: 3%;
        left: 61.97%;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 2083px);
    }

    #u7567-5 {
        z-index: 117;
        width: 16.84%;
        left: 41.59%;
    }
}

@media (max-width: 480px) {

    /*

*/
    #muse_css_mq {
        background-color: #0001e0;
    }

    #bp_480.active {
        display: block;
    }

    #page {
        max-width: 480px;
    }

    #ppmenuu7843 {
        z-index: 0;
        padding-bottom: 0px;
        margin-right: -10000px;
        margin-top: 20px;
        width: 147.92%;
    }

    #pmenuu7843 {
        z-index: 8;
        width: 48.6%;
    }

    #menuu7843 {
        z-index: 8;
        width: 118px;
        height: 106px;
        position: relative;
        margin-right: -10000px;
        margin-left: 69.57%;
        left: -161px;
    }

    #u7851 {
        width: 118px;
        position: relative;
    }

    #u7854 {
        width: 118px;
        padding-bottom: 6px;
        position: relative;
        margin-right: -10000px;
    }

    #u7854:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7854:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7855-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 3px;
    }

    #u7854:hover #u7855-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7854:active #u7855-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7873 {
        width: 118px;
        padding-bottom: 6px;
        position: relative;
        margin-right: -10000px;
    }

    #u7854.MuseMenuActive,
    #u7873:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7873:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7874-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 3px;
    }

    #u7854.MuseMenuActive #u7855-4,
    #u7873:hover #u7874-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7873:active #u7874-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7868 {
        width: 118px;
        padding-bottom: 6px;
        position: relative;
        margin-right: -10000px;
    }

    #u7873.MuseMenuActive,
    #u7868:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7868:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7871-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 3px;
    }

    #u7873.MuseMenuActive #u7874-4,
    #u7868:hover #u7871-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7868:active #u7871-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7845 {
        width: 118px;
        padding-bottom: 5px;
        position: relative;
        margin-right: -10000px;
    }

    #u7868.MuseMenuActive,
    #u7845:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7845:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7848-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 2px;
    }

    #u7868.MuseMenuActive #u7871-4,
    #u7845:hover #u7848-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7845:active #u7848-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7872,
    #u7865,
    #u7844,
    #u7858 {
        width: 118px;
        margin-top: 2px;
        position: relative;
    }

    #u7861 {
        width: 118px;
        padding-bottom: 5px;
        position: relative;
        margin-right: -10000px;
    }

    #u7845.MuseMenuActive,
    #u7861:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861.MuseMenuActive {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7864-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 2px;
    }

    #u7845.MuseMenuActive #u7848-4,
    #u7861:hover #u7864-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861:active #u7864-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861.MuseMenuActive #u7864-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u388-6 {
        z-index: 2;
        margin-right: -10000px;
        margin-top: 40px;
        width: 62.32%;
        left: 37.69%;
        margin-left: 23.19%;
    }

    #u468-4 {
        margin-top: 38px;
        width: 44.93%;
        margin-left: 11.27%;
    }

    #u471-4 {
        margin-top: 15px;
        width: 46.48%;
        margin-left: 11.27%;
    }

    #u478 {
        margin-top: 27px;
        margin-left: -17.33%;
    }

    #u478_img {
        padding-left: 17.313647648553278%;
        padding-right: 17.454409011549643%;
        width: 65.36%;
    }

    #u475-5 {
        min-height: 402px;
        margin-top: 6px;
        width: 49.58%;
        margin-left: 9.02%;
    }

    #slideshowu1364 {
        width: 55.36%;
        left: 0%;
        margin-left: 6.2%;
    }

    #pu1365 {
        z-index: 55;
        width: 100%;
    }

    #u1365popup {
        margin-top: 55px;
        height: 211px;
        width: 100%;
    }

    #u1584_img {
        padding-left: 8.646998982706%;
        padding-right: 8.901322482197353%;
        width: 82.7%;
    }

    #u1370_img {
        padding-left: 17.039674465920644%;
        padding-right: 16.785350966429295%;
        width: 66.16%;
    }

    #u1524_img {
        padding-top: 11.444557477110882%;
        padding-bottom: 11.444557477110882%;
        width: 100%;
    }

    #u1504_img {
        padding-top: 11.444557477110882%;
        padding-bottom: 11.698880976602236%;
        width: 100%;
    }

    #u1544_img {
        width: 88.05%;
        padding: 0.7629704984740587% 5.849440488301118% 0.7629704984740587% 6.10376398779247%;
    }

    #u1564_img {
        width: 36.39%;
        padding: 16.785350966429295% 31.79043743641912%;
    }

    #u1383popup {
        height: 69px;
        width: 25.2%;
        margin-left: 35.63%;
    }

    #pu1590 {
        z-index: 69;
        padding-bottom: 0px;
        margin-right: -10000px;
        width: 24.25%;
        margin-left: 9.1%;
    }

    #slideshowu1364_position_content,
    #u1590 {
        width: 100%;
    }

    #u1510 {
        width: 100%;
    }

    #pu1388 {
        z-index: 71;
        padding-bottom: 0px;
        margin-right: -10000px;
        width: 24.25%;
        margin-left: 37.38%;
    }

    #u1388 {
        width: 100%;
    }

    #u1550 {
        width: 100%;
    }

    #pu1530 {
        z-index: 73;
        padding-bottom: 0px;
        margin-right: -10000px;
        width: 24.25%;
        margin-left: 65.66%;
    }

    #u1530 {
        width: 100%;
    }

    #u1388.SSSlideLinkSelected,
    #u1530.SSSlideLinkSelected {
        margin-top: 0px;
        width: 100%;
        margin-left: 0%;
    }

    #u1570 {
        width: 100%;
    }

    #u1590.SSSlideLinkSelected,
    #u1510.SSSlideLinkSelected,
    #u1550.SSSlideLinkSelected,
    #u1570.SSSlideLinkSelected {
        width: 100%;
        margin-left: 0%;
    }

    #u1590_img,
    #u1510_img,
    #u1388_img,
    #u1550_img,
    #u1530_img,
    #u1570_img {
        width: 104.17%;
    }

    #pu1378 {
        z-index: 81;
        margin-top: 3px;
        width: 66.16%;
        margin-left: 2.04%;
    }

    #u1378popup {
        height: 75px;
        width: 59.62%;
    }

    #u1596-4,
    #u1379-4,
    #u1536-4,
    #u1516-4,
    #u1556-4,
    #u1576-4 {
        min-height: 55px;
    }

    #u1596-3,
    #u1379-3,
    #u1536-3,
    #u1516-3,
    #u1556-3,
    #u1576-3 {
        margin-left: 6.46%;
        margin-right: 6.458592349797359%;
    }

    #u1382-4popup {
        margin-top: 3px;
        width: 16.16%;
        margin-left: 63.08%;
    }

    #u1382-3 {
        margin-left: 23.81%;
        margin-right: 23.809523809523807%;
    }

    #u1377-4popup {
        margin-top: 3px;
        width: 16.93%;
        margin-left: 83.08%;
    }

    #u1377-3 {
        margin-left: 22.73%;
        margin-right: 22.727272727272727%;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 1712px);
    }

    #u7567-5 {
        z-index: 114;
        width: 16.88%;
        left: 41.67%;
    }

    body {
        overflow-x: hidden;
        min-width: 320px;
    }
}