.MenuItem {
    cursor: pointer;
}

#u388-6 {
    font-size: 25px;
    font-family: hind, sans-serif;
    font-weight: 500;
    line-height: 30px;
    background-color: transparent;
    text-transform: uppercase;
}

#u388-2 {
    color: #D3D3D3;
}

@media (min-width: 481px),
print {

    #u246,
    #u249 {
        background-color: transparent;
    }

    #menuu238,
    #u249:hover {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
    }

    #u249:active {
        border-width: 0px;
        border-color: transparent;
        background-color: #7F7F7F;
    }

    #u250-4 {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
        font-size: 14px;
        color: #7F7F7F;
        letter-spacing: 0px;
        text-transform: uppercase;
        text-align: center;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
    }

    #u249:hover #u250-4 {
        background-color: transparent;
    }

    #u249:active #u250-4 {
        background-color: transparent;
    }

    #u249:hover #u250-4 p {
        color: #515151;
        visibility: inherit;
    }

    #u249:active #u250-4 p {
        color: #FFFFFF;
        visibility: inherit;
    }

    #u249.MuseMenuActive #u250-4,
    #u239,
    #u240 {
        background-color: transparent;
    }

    #u240:hover {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
    }

    #u240:active {
        border-width: 0px;
        border-color: transparent;
        background-color: #7F7F7F;
    }

    #u241-4 {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
        text-transform: uppercase;
        text-align: center;
        color: #7F7F7F;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    }

    #u240:hover #u241-4 {
        background-color: transparent;
    }

    #u240:active #u241-4 {
        background-color: transparent;
    }

    #u240:hover #u241-4 p {
        color: #515151;
        visibility: inherit;
    }

    #u240:active #u241-4 p {
        color: #FFFFFF;
        visibility: inherit;
    }

    #u240.MuseMenuActive #u241-4,
    #u284,
    #u285 {
        background-color: transparent;
    }

    #u285:hover {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
    }

    #u285:active {
        border-width: 0px;
        border-color: transparent;
        background-color: #7F7F7F;
    }

    #u287-4 {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
        text-transform: uppercase;
        text-align: center;
        color: #7F7F7F;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    }

    #u285:hover #u287-4 {
        background-color: transparent;
    }

    #u285:active #u287-4 {
        background-color: transparent;
    }

    #u285:hover #u287-4 p {
        color: #515151;
        visibility: inherit;
    }

    #u285:active #u287-4 p {
        color: #FFFFFF;
        visibility: inherit;
    }

    #u285.MuseMenuActive #u287-4,
    #u305,
    #u306 {
        background-color: transparent;
    }

    #u306:hover {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
    }

    #u306:active {
        border-width: 0px;
        border-color: transparent;
        background-color: #7F7F7F;
    }

    #u308-4 {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
        text-transform: uppercase;
        text-align: center;
        color: #7F7F7F;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    }

    #u306:hover #u308-4 {
        background-color: transparent;
    }

    #u306:active #u308-4 {
        background-color: transparent;
    }

    #u306:hover #u308-4 p {
        color: #515151;
        visibility: inherit;
    }

    #u306:active #u308-4 p {
        color: #FFFFFF;
        visibility: inherit;
    }

    #u306.MuseMenuActive #u308-4,
    #u326,
    #u329 {
        background-color: transparent;
    }

    #u329:hover {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
    }

    #u329:active {
        border-width: 0px;
        border-color: transparent;
        background-color: #7F7F7F;
    }

    #u249.MuseMenuActive,
    #u240.MuseMenuActive,
    #u285.MuseMenuActive,
    #u306.MuseMenuActive,
    #u329.MuseMenuActive {
        border-color: #000000;
        background-color: transparent;
    }

    #u332-4 {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
        text-transform: uppercase;
        text-align: center;
        color: #7F7F7F;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    }

    #u329:hover #u332-4 {
        background-color: transparent;
    }

    #u329:active #u332-4 {
        background-color: transparent;
    }

    #u329.MuseMenuActive #u332-4 {
        background-color: transparent;
    }

    #u329:hover #u332-4 p {
        color: #515151;
        visibility: inherit;
    }

    #u329:active #u332-4 p {
        color: #FFFFFF;
        visibility: inherit;
    }

    #u249.MuseMenuActive #u250-4 p,
    #u240.MuseMenuActive #u241-4 p,
    #u285.MuseMenuActive #u287-4 p,
    #u306.MuseMenuActive #u308-4 p,
    #u329.MuseMenuActive #u332-4 p {
        color: #000000;
        visibility: inherit;
    }
}

@media (max-width: 480px) {

    #u7851,
    #u7854 {
        background-color: transparent;
    }

    #menuu7843,
    #u7854:hover {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
    }

    #u7854:active {
        border-width: 0px;
        border-color: transparent;
        background-color: #7F7F7F;
    }

    #u7855-4 {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
        line-height: 14px;
        text-transform: uppercase;
        font-size: 12px;
        text-align: right;
        color: #7F7F7F;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    }

    #u7854:hover #u7855-4 {
        background-color: transparent;
    }

    #u7854:active #u7855-4 {
        background-color: transparent;
    }

    #u7854:hover #u7855-4 p {
        color: #515151;
        visibility: inherit;
    }

    #u7854:active #u7855-4 p {
        color: #FFFFFF;
        visibility: inherit;
    }

    #u7854.MuseMenuActive #u7855-4,
    #u7872,
    #u7873 {
        background-color: transparent;
    }

    #u7873:hover {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
    }

    #u7873:active {
        border-width: 0px;
        border-color: transparent;
        background-color: #7F7F7F;
    }

    #u7874-4 {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
        line-height: 14px;
        text-transform: uppercase;
        font-size: 12px;
        text-align: right;
        color: #7F7F7F;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    }

    #u7873:hover #u7874-4 {
        background-color: transparent;
    }

    #u7873:active #u7874-4 {
        background-color: transparent;
    }

    #u7873:hover #u7874-4 p {
        color: #515151;
        visibility: inherit;
    }

    #u7873:active #u7874-4 p {
        color: #FFFFFF;
        visibility: inherit;
    }

    #u7873.MuseMenuActive #u7874-4,
    #u7865,
    #u7868 {
        background-color: transparent;
    }

    #u7868:hover {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
    }

    #u7868:active {
        border-width: 0px;
        border-color: transparent;
        background-color: #7F7F7F;
    }

    #u7871-4 {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
        line-height: 14px;
        text-transform: uppercase;
        font-size: 12px;
        text-align: right;
        color: #7F7F7F;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    }

    #u7868:hover #u7871-4 {
        background-color: transparent;
    }

    #u7868:active #u7871-4 {
        background-color: transparent;
    }

    #u7868:hover #u7871-4 p {
        color: #515151;
        visibility: inherit;
    }

    #u7868:active #u7871-4 p {
        color: #FFFFFF;
        visibility: inherit;
    }

    #u7868.MuseMenuActive #u7871-4,
    #u7844,
    #u7845 {
        background-color: transparent;
    }

    #u7845:hover {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
    }

    #u7845:active {
        border-width: 0px;
        border-color: transparent;
        background-color: #7F7F7F;
    }

    #u7848-4 {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
        line-height: 14px;
        text-transform: uppercase;
        font-size: 12px;
        text-align: right;
        color: #7F7F7F;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    }

    #u7845:hover #u7848-4 {
        background-color: transparent;
    }

    #u7845:active #u7848-4 {
        background-color: transparent;
    }

    #u7845:hover #u7848-4 p {
        color: #515151;
        visibility: inherit;
    }

    #u7845:active #u7848-4 p {
        color: #FFFFFF;
        visibility: inherit;
    }

    #u7845.MuseMenuActive #u7848-4,
    #u7858,
    #u7861 {
        background-color: transparent;
    }

    #u7861:hover {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
    }

    #u7861:active {
        border-width: 0px;
        border-color: transparent;
        background-color: #7F7F7F;
    }

    #u7854.MuseMenuActive,
    #u7873.MuseMenuActive,
    #u7868.MuseMenuActive,
    #u7845.MuseMenuActive,
    #u7861.MuseMenuActive {
        border-color: #000000;
        background-color: transparent;
    }

    #u7864-4 {
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
        line-height: 14px;
        text-transform: uppercase;
        font-size: 12px;
        text-align: right;
        color: #7F7F7F;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    }

    #u7861:hover #u7864-4 {
        background-color: transparent;
    }

    #u7861:active #u7864-4 {
        background-color: transparent;
    }

    #u7861.MuseMenuActive #u7864-4 {
        background-color: transparent;
    }

    #u7861:hover #u7864-4 p {
        color: #515151;
        visibility: inherit;
    }

    #u7861:active #u7864-4 p {
        color: #FFFFFF;
        visibility: inherit;
    }

    #u7854.MuseMenuActive #u7855-4 p,
    #u7873.MuseMenuActive #u7874-4 p,
    #u7868.MuseMenuActive #u7871-4 p,
    #u7845.MuseMenuActive #u7848-4 p,
    #u7861.MuseMenuActive #u7864-4 p {
        color: #000000;
        visibility: inherit;
    }
}