.version.small_design_cases {
    color: #00000B;
    background-color: #E134AF;
}

@font-face {
    font-family: '__Nimbus Sans L_5';
    src: url('../fonts/nimbus-sans-l_regular.eot');
    src: local('☺'), url('../fonts/nimbus-sans-l_regular.woff') format('woff'), url('../fonts/nimbus-sans-l_regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: '__Nimbus Sans L_5';
    src: url('../fonts/nimbus-sans-l_bold.eot');
    src: local('☺'), url('../fonts/nimbus-sans-l_bold.woff') format('woff'), url('../fonts/nimbus-sans-l_bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

#page {
    min-height: 500px;
    border-width: 0px;
    margin-right: auto;
    background-image: none;
    margin-left: auto;
    z-index: 1;
    width: 100%;
    border-color: #000000;
    background-color: transparent;
}

#u388-6 {
    min-height: 30px;
    position: relative;
}

#u2020-4 {
    min-height: 58px;
    left: 0%;
    font-family: '__Nimbus Sans L_5';
    font-weight: 400;
    text-align: left;
    position: relative;
    font-size: 60px;
    z-index: 39;
    line-height: 72px;
    background-color: transparent;
}

#u2026-7 {
    min-height: 190px;
    left: 0%;
    font-family: '__Nimbus Sans L_5';
    z-index: 43;
    position: relative;
    background-color: transparent;
}

#u2032 {
    left: 0%;
    z-index: 50;
    position: relative;
    background-color: transparent;
}

#pu2238 {
    left: 0%;
    z-index: 52;
}

#u2238 {
    z-index: 52;
    position: relative;
    margin-right: -10000px;
    background-color: transparent;
}

#u2233 {
    z-index: 54;
    position: relative;
    margin-right: -10000px;
    background-color: transparent;
}

#u2245 {
    margin-right: -10000px;
    background-color: transparent;
    z-index: 56;
    position: relative;
}

#u2274-7 {
    left: 0%;
    font-family: '__Nimbus Sans L_5';
    z-index: 58;
    position: relative;
    background-color: transparent;
}

#u2026-2,
#u2274-2 {
    font-size: 22px;
    color: #6D6D6D;
    line-height: 26px;
    text-align: right;
    font-weight: 700;
}

#u2274-3 {
    font-size: 22px;
    color: #7F7F7F;
    line-height: 26px;
    text-align: center;
    font-weight: 400;
}

#u2026-3,
#u2026-5,
#u2274-5 {
    font-size: 18px;
    color: #7F7F7F;
    line-height: 22px;
    text-align: center;
    font-weight: 400;
}

#pu2277 {
    left: 0%;
    z-index: 65;
}

#u2277 {
    margin-right: -10000px;
    background-color: transparent;
    z-index: 65;
    position: relative;
}

#u2285 {
    z-index: 67;
    position: relative;
    margin-right: -10000px;
    background-color: transparent;
}

#u2297 {
    position: relative;
    margin-right: -10000px;
    background-color: transparent;
    z-index: 69;
}

#u2032_img,
#u2238_img,
#u2233_img,
#u2245_img,
#u2277_img,
#u2285_img,
#u2297_img {
    width: 100%;
}

#pu2307-4 {
    left: 0%;
    z-index: 71;
}

#u2307-4 {
    color: #6D6D6D;
    margin-right: -10000px;
    font-family: '__Nimbus Sans L_5';
    font-weight: 700;
    text-align: center;
    position: relative;
    font-size: 22px;
    z-index: 71;
    line-height: 26px;
    background-color: transparent;
}

#slideshowu2313 {
    width: 100%;
    position: relative;
    margin-right: -10000px;
    z-index: 75;
}

#u2340 {
    width: 100%;
    background-color: transparent;
    position: absolute;
}

#u2340popup {
    width: 100%;
    z-index: 76;
}

#u2664 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 77;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u2829 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 79;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u2829_img {
    padding-right: 6.516072980017376%;
}

#u2849 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 81;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u2735 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 83;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u2755 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 85;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u2775 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 87;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u2795 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 89;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u2334-4popup {
    margin-right: -10000px;
    z-index: 91;
    height: 40px;
}

#u2334-4,
#u2336-4 {
    min-height: 20px;
    border-width: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-color: transparent;
    background-color: #FFFFFF;
    position: absolute;
}

#u2336-4popup {
    margin-right: -10000px;
    z-index: 95;
    height: 40px;
}

#u2334-3,
#u2336-3 {
    color: #999999;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    line-height: 20px;
    text-align: center;
}

.SSFirstButton,
.SSPreviousButton,
.SSNextButton,
.SSLastButton,
.SSSlideLink,
.SSCloseButton {
    cursor: pointer;
    border: 1px solid grey !important ;
}

.SSSlideLoading {
    background: url("../images/loading.gif?crc=3815509949") no-repeat center center;
}

#u7576-5 {
    min-height: 46px;
    background-color: transparent;
    z-index: 99;
    position: relative;
    margin-right: -10000px;
    text-align: center;
    margin-top: 16px;
}

#u7576 {
    text-transform: uppercase;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
}

.html {
    background-color: #FFFFFF;
}

body {
    position: relative;
}

.verticalspacer {
    min-height: 1px;
}

@media (min-width: 481px),
print {
    #muse_css_mq {
        background-color: #FFFFFF;
    }

    #bp_infinity.active {
        display: block;
    }

    #page {
        max-width: 1200px;
    }

    #pu388-6 {
        z-index: 33;
        padding-bottom: 0px;
        margin-right: -10000px;
        margin-top: 32px;
        width: 100.17%;
    }

    #u388-6 {
        z-index: 33;
        width: 18.72%;
        left: 0%;
        margin-left: 24.3%;
    }

    #menuu238 {
        z-index: 2;
        width: 769px;
        height: 42px;
        margin-top: 17px;
        position: relative;
        margin-left: 49.92%;
        left: -384px;
    }

    #u246 {
        width: 97px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
    }

    #u249 {
        width: 97px;
        padding-bottom: 25px;
        position: relative;
    }

    #u249:hover {
        width: 97px;
        min-height: 0px;
        margin: 0px;
    }

    #u249:active {
        width: 97px;
        min-height: 0px;
        margin: 0px;
    }

    #u249.MuseMenuActive {
        width: 97px;
        min-height: 0px;
        margin: 0px;
    }

    #u250-4 {
        width: 50px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u249:hover #u250-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 50px;
        margin: 0px -10000px 0px 0px;
    }

    #u249:active #u250-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 50px;
        margin: 0px -10000px 0px 0px;
    }

    #u249.MuseMenuActive #u250-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 50px;
        margin: 0px -10000px 0px 0px;
    }

    #u239 {
        width: 186px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 99px;
    }

    #u240 {
        width: 186px;
        padding-bottom: 25px;
        position: relative;
    }

    #u240:hover {
        width: 186px;
        min-height: 0px;
        margin: 0px;
    }

    #u240:active {
        width: 186px;
        min-height: 0px;
        margin: 0px;
    }

    #u240.MuseMenuActive {
        width: 186px;
        min-height: 0px;
        margin: 0px;
    }

    #u241-4 {
        width: 139px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u240:hover #u241-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 139px;
        margin: 0px -10000px 0px 0px;
    }

    #u240:active #u241-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 139px;
        margin: 0px -10000px 0px 0px;
    }

    #u240.MuseMenuActive #u241-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 139px;
        margin: 0px -10000px 0px 0px;
    }

    #u284 {
        width: 183px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 287px;
    }

    #u285 {
        width: 183px;
        padding-bottom: 25px;
        position: relative;
    }

    #u285:hover {
        width: 183px;
        min-height: 0px;
        margin: 0px;
    }

    #u285:active {
        width: 183px;
        min-height: 0px;
        margin: 0px;
    }

    #u285.MuseMenuActive {
        width: 183px;
        min-height: 0px;
        margin: 0px;
    }

    #u287-4 {
        width: 136px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u285:hover #u287-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 136px;
        margin: 0px -10000px 0px 0px;
    }

    #u285:active #u287-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 136px;
        margin: 0px -10000px 0px 0px;
    }

    #u285.MuseMenuActive #u287-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 136px;
        margin: 0px -10000px 0px 0px;
    }

    #u305 {
        width: 176px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 472px;
    }

    #u306 {
        width: 176px;
        padding-bottom: 25px;
        position: relative;
    }

    #u306:hover {
        width: 176px;
        min-height: 0px;
        margin: 0px;
    }

    #u306:active {
        width: 176px;
        min-height: 0px;
        margin: 0px;
    }

    #u306.MuseMenuActive {
        width: 176px;
        min-height: 0px;
        margin: 0px;
    }

    #u308-4 {
        width: 130px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u306:hover #u308-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 130px;
        margin: 0px -10000px 0px 0px;
    }

    #u306:active #u308-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 130px;
        margin: 0px -10000px 0px 0px;
    }

    #u306.MuseMenuActive #u308-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 130px;
        margin: 0px -10000px 0px 0px;
    }

    #u326 {
        width: 119px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 650px;
    }

    #u329 {
        width: 119px;
        padding-bottom: 25px;
        position: relative;
    }

    #u329:hover {
        width: 119px;
        min-height: 0px;
        margin: 0px;
    }

    #u329:active {
        width: 119px;
        min-height: 0px;
        margin: 0px;
    }

    #u329.MuseMenuActive {
        width: 119px;
        min-height: 0px;
        margin: 0px;
    }

    #u332-4 {
        width: 73px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u329:hover #u332-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 73px;
        margin: 0px -10000px 0px 0px;
    }

    #u329:active #u332-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 73px;
        margin: 0px -10000px 0px 0px;
    }

    #u329.MuseMenuActive #u332-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 73px;
        margin: 0px -10000px 0px 0px;
    }

    #u2020-4 {
        margin-top: 31px;
        width: 54.5%;
        margin-left: 17.98%;
    }

    #u2026-7 {
        margin-top: 33px;
        width: 66.06%;
        margin-left: 16.89%;
    }

    #u2032 {
        margin-top: 12px;
        width: 100%;
        margin-left: -0.17%;
    }

    #pu2238 {
        margin-top: 12px;
        width: 99.92%;
        margin-left: -0.09%;
    }

    #u2238 {
        width: 36.89%;
        left: 30.15%;
    }

    #u2233 {
        width: 36.89%;
        left: 63.12%;
    }

    #u2245 {
        width: 34.73%;
    }

    #u2274-7 {
        min-height: 190px;
        margin-top: 71px;
        width: 63.9%;
        margin-left: 17.56%;
    }

    #pu2277 {
        margin-top: 50px;
        width: 99.84%;
        margin-left: 0.09%;
    }

    #u2277 {
        width: 24.42%;
    }

    #u2285 {
        width: 25.92%;
        left: 24.92%;
    }

    #u2297 {
        margin-top: 2px;
        width: 48.34%;
        left: 51.67%;
    }

    #pu2307-4 {
        margin-top: 82px;
        width: 95.76%;
        margin-left: 2.5%;
    }

    #u2307-4 {
        min-height: 99px;
        width: 66.73%;
        left: 15.73%;
    }

    #slideshowu2313 {
        margin-top: 42px;
    }

    #u2340popup {
        height: 607px;
        margin-right: -10000px;
    }

    #u2664_img {
        width: 69.51%;
        padding: 1.3900955690703736% 15.20417028670721% 1.3032145960034751% 15.291051259774111%;
    }

    #u2829_img {
        padding-left: 4.691572545612511%;
        padding-top: 1.3900955690703736%;
        padding-bottom: 1.3900955690703736%;
        width: 88.8%;
    }

    #u2849_img {
        padding-left: 11.468288444830582%;
        padding-right: 12.250217202432667%;
        width: 76.29%;
    }

    #u2735_img {
        width: 66.47%;
        padding: 3.909643788010426% 16.76802780191138% 3.8227628149435278%;
    }

    #u2755_img {
        width: 69.6%;
        padding: 2.519548218940052% 15.20417028670721%;
    }

    #u2775_img {
        width: 77.94%;
        padding: 2.0851433536055604% 11.03388357949609% 1.998262380538662%;
    }

    #u2795_img {
        width: 78.81%;
        padding: 4.778453518679409% 10.599478714161599% 4.691572545612511%;
    }

    #u2334-4popup {
        margin-top: 544px;
        width: 4.7%;
        margin-left: 2.18%;
    }

    #u2336-4popup {
        margin-top: 544px;
        width: 4.7%;
        margin-left: 8%;
    }

    #u2334-3,
    #u2336-3 {
        margin-left: 18.49%;
        margin-right: 18.480018480018483%;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 2761px);
    }

    #u7576-5 {
        width: 16.84%;
        left: 41.59%;
    }
}

@media (max-width: 480px) {

    /*

*/
    #muse_css_mq {
        background-color: #0001e0;
    }

    #bp_480.active {
        display: block;
    }

    #page {
        max-width: 480px;
    }

    #ppmenuu7843 {
        z-index: 0;
        padding-bottom: 0px;
        margin-right: -10000px;
        margin-top: 20px;
        width: 100.42%;
    }

    #pmenuu7843 {
        z-index: 8;
        width: 71.58%;
    }

    #menuu7843 {
        z-index: 8;
        width: 118px;
        height: 106px;
        position: relative;
        margin-right: -10000px;
        margin-left: 69.57%;
        left: -160px;
    }

    #u7851 {
        width: 118px;
        position: relative;
    }

    #u7854 {
        width: 118px;
        padding-bottom: 6px;
        position: relative;
        margin-right: -10000px;
    }

    #u7854:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7854:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7855-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 3px;
    }

    #u7854:hover #u7855-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7854:active #u7855-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7873 {
        width: 118px;
        padding-bottom: 6px;
        position: relative;
        margin-right: -10000px;
    }

    #u7854.MuseMenuActive,
    #u7873:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7873:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7874-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 3px;
    }

    #u7854.MuseMenuActive #u7855-4,
    #u7873:hover #u7874-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7873:active #u7874-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7868 {
        width: 118px;
        padding-bottom: 6px;
        position: relative;
        margin-right: -10000px;
    }

    #u7873.MuseMenuActive,
    #u7868:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7868:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7871-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 3px;
    }

    #u7873.MuseMenuActive #u7874-4,
    #u7868:hover #u7871-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7868:active #u7871-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7845 {
        width: 118px;
        padding-bottom: 5px;
        position: relative;
        margin-right: -10000px;
    }

    #u7868.MuseMenuActive,
    #u7845:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7845:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7848-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 2px;
    }

    #u7868.MuseMenuActive #u7871-4,
    #u7845:hover #u7848-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7845:active #u7848-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7872,
    #u7865,
    #u7844,
    #u7858 {
        width: 118px;
        margin-top: 2px;
        position: relative;
    }

    #u7861 {
        width: 118px;
        padding-bottom: 5px;
        position: relative;
        margin-right: -10000px;
    }

    #u7845.MuseMenuActive,
    #u7861:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861.MuseMenuActive {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7864-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 2px;
    }

    #u7845.MuseMenuActive #u7848-4,
    #u7861:hover #u7864-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861:active #u7864-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861.MuseMenuActive #u7864-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u388-6 {
        z-index: 2;
        margin-right: -10000px;
        margin-top: 40px;
        width: 62.32%;
        left: 37.69%;
        margin-left: 23.48%;
    }

    #u2020-4 {
        margin-top: 38px;
        width: 75.94%;
        margin-left: 14.32%;
    }

    #u2026-7 {
        margin-top: 30px;
        width: 73.24%;
        margin-left: 12.04%;
    }

    #u2032 {
        margin-top: 26px;
        width: 99.8%;
        margin-left: 0%;
    }

    #pu2238 {
        margin-top: 11px;
        width: 99.59%;
        margin-left: 0%;
    }

    #u2238 {
        width: 36.88%;
        left: 30.21%;
    }

    #u2233 {
        width: 36.88%;
        left: 63.13%;
    }

    #u2245 {
        width: 34.8%;
    }

    #u2274-7 {
        min-height: 379px;
        margin-top: 30px;
        width: 75.52%;
        margin-left: 12.04%;
    }

    #pu2277 {
        margin-top: 20px;
        width: 100%;
        margin-left: 0%;
    }

    #u2277 {
        width: 24.28%;
    }

    #u2285 {
        width: 25.94%;
        left: 24.9%;
    }

    #u2297 {
        width: 48.97%;
        left: 51.04%;
    }

    #pu2307-4 {
        margin-top: 62px;
        width: 95.44%;
        margin-left: 2.08%;
    }

    #u2307-4 {
        min-height: 74px;
        width: 66.74%;
        left: 16.96%;
    }

    #slideshowu2313 {
        padding-bottom: 0px;
        margin-top: 46px;
    }

    #slideshowu2313_position_content {
        width: 100%;
    }

    #u2340popup {
        height: 243px;
    }

    #u2664_img {
        padding-left: 13.466550825369245%;
        padding-right: 13.249348392701998%;
        width: 73.27%;
    }

    #u2829_img {
        padding-left: 4.561251086012163%;
        padding-top: 1.3032145960034753%;
        padding-bottom: 1.520417028670721%;
        width: 88.92%;
    }

    #u2849_img {
        padding-left: 11.511728931364033%;
        padding-right: 11.946133796698524%;
        width: 76.53%;
    }

    #u2735_img {
        padding-left: 11.07732406602954%;
        padding-right: 11.07732406602954%;
        width: 78.05%;
    }

    #u2755_img {
        padding-left: 11.511728931364033%;
        padding-right: 11.511728931364033%;
        width: 76.96%;
    }

    #u2775_img {
        padding-left: 7.819287576020852%;
        padding-right: 7.602085143353605%;
        width: 84.57%;
    }

    #u2795_img {
        padding-left: 1.954821894005213%;
        padding-right: 1.954821894005213%;
        width: 96.09%;
    }

    #pu2334-4 {
        z-index: 91;
        margin-top: 2px;
        width: 23.92%;
        margin-left: 38.05%;
    }

    #u2334-4popup {
        width: 43.64%;
    }

    #u2334-3 {
        margin-left: 20.84%;
        margin-right: 20.833333333333336%;
    }

    #u2336-4popup {
        width: 42.73%;
        margin-left: 57.28%;
    }

    #u2336-3 {
        margin-left: 21.28%;
        margin-right: 21.27659574468085%;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 2024px);
    }

    #u7576-5 {
        width: 16.88%;
        left: 41.67%;
    }

    body {
        overflow-x: hidden;
        min-width: 320px;
    }
}