.version.small_graphic_designs {
    color: #0000EA;
    background-color: #33B96C;
}

@font-face {
    font-family: '__Nimbus Sans L_5';
    src: url('../fonts/nimbus-sans-l_regular.eot');
    src: local('☺'), url('../fonts/nimbus-sans-l_regular.woff') format('woff'), url('../fonts/nimbus-sans-l_regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: '__Nimbus Sans L_5';
    src: url('../fonts/nimbus-sans-l_bold.eot');
    src: local('☺'), url('../fonts/nimbus-sans-l_bold.woff') format('woff'), url('../fonts/nimbus-sans-l_bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

#page {
    min-height: 500px;
    border-width: 0px;
    margin-right: auto;
    background-image: none;
    margin-left: auto;
    z-index: 1;
    width: 100%;
    border-color: #000000;
    background-color: transparent;
}

#u388-6 {
    min-height: 30px;
    position: relative;
}

#u2869-4 {
    min-height: 58px;
    left: 0%;
    font-family: '__Nimbus Sans L_5';
    font-weight: 400;
    text-align: left;
    position: relative;
    font-size: 60px;
    z-index: 39;
    line-height: 72px;
    background-color: transparent;
}

#u2878-9 {
    min-height: 91px;
    color: #7F7F7F;
    font-family: '__Nimbus Sans L_5';
    z-index: 43;
    position: relative;
    left: 0%;
    background-color: transparent;
    margin-top: 33px;
}

#u2878-2,
#u2878-3,
#u2878-4 {
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    font-weight: 400;
}

#u2878-5,
#u2878-7 {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    font-weight: 700;
}

#u2889 {
    margin-right: -10000px;
    background-color: transparent;
    z-index: 54;
    position: relative;
}

#u2903 {
    z-index: 56;
    position: relative;
    margin-right: -10000px;
    background-color: transparent;
}

#pu2881 {
    left: 0%;
    z-index: 52;
}

#u2881 {
    z-index: 52;
    position: relative;
    margin-right: -10000px;
    background-color: transparent;
}

#u2921 {
    z-index: 58;
    position: relative;
    margin-right: -10000px;
    background-color: transparent;
}

#u2889_img,
#u2903_img,
#u2881_img,
#u2921_img {
    width: 100%;
}

#u3080-4 {
    min-height: 47px;
    color: #7F7F7F;
    font-family: '__Nimbus Sans L_5';
    font-weight: 700;
    left: 0%;
    text-align: center;
    position: relative;
    font-size: 22px;
    z-index: 80;
    line-height: 26px;
    background-color: transparent;
}

#slideshowu2931 {
    left: 0%;
    position: relative;
    z-index: 60;
}

#u2940popup {
    width: 100%;
    z-index: 61;
}

#u2947 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 62;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u3121 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 64;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u3141 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 66;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u3161 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 68;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u3181 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 70;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u2972-4popup {
    margin-right: -10000px;
    z-index: 72;
    height: 40px;
}

#u2973-4popup {
    margin-right: -10000px;
    z-index: 76;
    height: 40px;
}

.SSFirstButton,
.SSPreviousButton,
.SSNextButton,
.SSLastButton,
.SSSlideLink,
.SSCloseButton {
    cursor: pointer;
    border: 1px solid grey !important ;
}

.SSSlideLoading {
    background: url("../images/loading.gif?crc=3815509949") no-repeat center center;
}

#u3201-4 {
    min-height: 47px;
    color: #7F7F7F;
    font-family: '__Nimbus Sans L_5';
    font-weight: 700;
    left: 0%;
    text-align: center;
    position: relative;
    font-size: 22px;
    z-index: 84;
    line-height: 26px;
    background-color: transparent;
}

#slideshowu3204 {
    left: 0%;
    position: relative;
    z-index: 88;
}

#u2940,
#u3214 {
    width: 100%;
    background-color: transparent;
    position: absolute;
}

#u3214popup {
    width: 100%;
    z-index: 89;
}

#u3217 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 90;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u3359 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 92;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u3379 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 94;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u3399 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 96;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u3419 {
    min-height: 5px;
    border-width: 0px;
    width: 100%;
    z-index: 98;
    position: relative;
    margin-right: -10000px;
    border-color: transparent;
    background-color: transparent;
}

#u3213-4popup {
    margin-right: -10000px;
    z-index: 100;
    height: 40px;
}

#u2972-4,
#u2973-4,
#u3213-4,
#u3225-4 {
    min-height: 20px;
    border-width: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-color: transparent;
    background-color: #FFFFFF;
    position: absolute;
}

#u3225-4popup {
    margin-right: -10000px;
    z-index: 104;
    height: 40px;
}

#u2972-3,
#u2973-3,
#u3213-3,
#u3225-3 {
    color: #000000;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    line-height: 20px;
    text-align: center;
}

#u7579-5 {
    min-height: 46px;
    background-color: transparent;
    z-index: 108;
    position: relative;
    margin-right: -10000px;
    text-align: center;
}

#u7579 {
    text-transform: uppercase;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
}

.html {
    background-color: #FFFFFF;
}

body {
    position: relative;
}

.verticalspacer {
    min-height: 1px;
}

@media (min-width: 481px),
print {
    #muse_css_mq {
        background-color: #FFFFFF;
    }

    #bp_infinity.active {
        display: block;
    }

    #page {
        max-width: 1200px;
    }

    #pu388-6 {
        z-index: 33;
        padding-bottom: 0px;
        margin-right: -10000px;
        margin-top: 32px;
        width: 100.5%;
    }

    #u388-6 {
        z-index: 33;
        width: 18.66%;
        left: 0%;
        margin-left: 24.22%;
    }

    #menuu238 {
        z-index: 2;
        width: 769px;
        height: 42px;
        margin-top: 17px;
        position: relative;
        margin-left: 49.76%;
        left: -384px;
    }

    #u246 {
        width: 97px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
    }

    #u249 {
        width: 97px;
        padding-bottom: 25px;
        position: relative;
    }

    #u249:hover {
        width: 97px;
        min-height: 0px;
        margin: 0px;
    }

    #u249:active {
        width: 97px;
        min-height: 0px;
        margin: 0px;
    }

    #u249.MuseMenuActive {
        width: 97px;
        min-height: 0px;
        margin: 0px;
    }

    #u250-4 {
        width: 50px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u249:hover #u250-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 50px;
        margin: 0px -10000px 0px 0px;
    }

    #u249:active #u250-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 50px;
        margin: 0px -10000px 0px 0px;
    }

    #u249.MuseMenuActive #u250-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 50px;
        margin: 0px -10000px 0px 0px;
    }

    #u239 {
        width: 186px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 99px;
    }

    #u240 {
        width: 186px;
        padding-bottom: 25px;
        position: relative;
    }

    #u240:hover {
        width: 186px;
        min-height: 0px;
        margin: 0px;
    }

    #u240:active {
        width: 186px;
        min-height: 0px;
        margin: 0px;
    }

    #u240.MuseMenuActive {
        width: 186px;
        min-height: 0px;
        margin: 0px;
    }

    #u241-4 {
        width: 139px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u240:hover #u241-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 139px;
        margin: 0px -10000px 0px 0px;
    }

    #u240:active #u241-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 139px;
        margin: 0px -10000px 0px 0px;
    }

    #u240.MuseMenuActive #u241-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 139px;
        margin: 0px -10000px 0px 0px;
    }

    #u284 {
        width: 183px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 287px;
    }

    #u285 {
        width: 183px;
        padding-bottom: 25px;
        position: relative;
    }

    #u285:hover {
        width: 183px;
        min-height: 0px;
        margin: 0px;
    }

    #u285:active {
        width: 183px;
        min-height: 0px;
        margin: 0px;
    }

    #u285.MuseMenuActive {
        width: 183px;
        min-height: 0px;
        margin: 0px;
    }

    #u287-4 {
        width: 136px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u285:hover #u287-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 136px;
        margin: 0px -10000px 0px 0px;
    }

    #u285:active #u287-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 136px;
        margin: 0px -10000px 0px 0px;
    }

    #u285.MuseMenuActive #u287-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 136px;
        margin: 0px -10000px 0px 0px;
    }

    #u305 {
        width: 176px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 472px;
    }

    #u306 {
        width: 176px;
        padding-bottom: 25px;
        position: relative;
    }

    #u306:hover {
        width: 176px;
        min-height: 0px;
        margin: 0px;
    }

    #u306:active {
        width: 176px;
        min-height: 0px;
        margin: 0px;
    }

    #u306.MuseMenuActive {
        width: 176px;
        min-height: 0px;
        margin: 0px;
    }

    #u308-4 {
        width: 130px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u306:hover #u308-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 130px;
        margin: 0px -10000px 0px 0px;
    }

    #u306:active #u308-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 130px;
        margin: 0px -10000px 0px 0px;
    }

    #u306.MuseMenuActive #u308-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 130px;
        margin: 0px -10000px 0px 0px;
    }

    #u326 {
        width: 119px;
        min-height: 42px;
        position: relative;
        margin-right: -10000px;
        left: 650px;
    }

    #u329 {
        width: 119px;
        padding-bottom: 25px;
        position: relative;
    }

    #u329:hover {
        width: 119px;
        min-height: 0px;
        margin: 0px;
    }

    #u329:active {
        width: 119px;
        min-height: 0px;
        margin: 0px;
    }

    #u329.MuseMenuActive {
        width: 119px;
        min-height: 0px;
        margin: 0px;
    }

    #u332-4 {
        width: 73px;
        min-height: 17px;
        position: relative;
        margin-right: -10000px;
        top: 12px;
        left: 23px;
    }

    #u329:hover #u332-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 73px;
        margin: 0px -10000px 0px 0px;
    }

    #u329:active #u332-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 73px;
        margin: 0px -10000px 0px 0px;
    }

    #u329.MuseMenuActive #u332-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 17px;
        width: 73px;
        margin: 0px -10000px 0px 0px;
    }

    #u2869-4 {
        margin-top: 31px;
        width: 50.59%;
        margin-left: 21.32%;
    }

    #u2878-9 {
        width: 64.93%;
        margin-left: 17.92%;
    }

    #pu2881 {
        margin-top: 33px;
        width: 100%;
        margin-left: -0.25%;
    }

    #u2881 {
        width: 25.63%;
        left: 49.51%;
    }

    #u2889 {
        width: 25.71%;
    }

    #u2903 {
        width: 25.38%;
        left: 25.21%;
    }

    #u2921 {
        width: 25.46%;
        left: 74.55%;
    }

    #u3080-4 {
        margin-top: 73px;
        width: 47.43%;
        margin-left: 26.04%;
    }

    #u2940popup {
        height: 689px;
        margin-right: -10000px;
    }

    #u2947_img {
        width: 82.76%;
        padding: 0.5172413793103449% 8.620689655172415% 0.43103448275862066%;
    }

    #u3121_img {
        width: 82.68%;
        padding: 8.879310344827585% 8.706896551724137% 8.879310344827585% 8.620689655172415%;
    }

    #u3141_img {
        width: 87.94%;
        padding: 1.9827586206896552% 6.0344827586206895% 1.896551724137931%;
    }

    #u3161_img {
        width: 53.97%;
        padding: 2.7586206896551726% 23.017241379310345% 2.6724137931034484%;
    }

    #u3181_img {
        padding-left: 19.482758620689655%;
        padding-right: 19.482758620689655%;
        width: 61.04%;
    }

    #u3201-4 {
        margin-top: 52px;
        width: 47.43%;
        margin-left: 26.04%;
    }

    #slideshowu2931,
    #slideshowu3204 {
        margin-top: 17px;
        width: 96.19%;
        margin-left: 1.66%;
    }

    #u3214popup {
        height: 713px;
        margin-right: -10000px;
    }

    #u3217_img,
    #u3359_img,
    #u3379_img,
    #u3399_img {
        width: 41.99%;
        padding: 1.0344827586206897% 29.051724137931036% 1.0344827586206897% 28.965517241379313%;
    }

    #u3419_img {
        width: 83.97%;
        padding: 1.0344827586206897% 8.017241379310343%;
    }

    #u2972-4popup,
    #u3213-4popup {
        margin-top: 649px;
        width: 4.66%;
        margin-left: 8.71%;
    }

    #u2973-4popup,
    #u3225-4popup {
        margin-top: 649px;
        width: 4.66%;
        margin-left: 13.37%;
    }

    #u2972-3,
    #u2973-3,
    #u3213-3,
    #u3225-3 {
        margin-left: 18.49%;
        margin-right: 18.480018480018483%;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 2477px);
    }

    #u7579-5 {
        margin-bottom: -3px;
        margin-top: 19px;
        width: 16.84%;
        left: 41.59%;
    }
}

@media (max-width: 480px) {

    /*

*/
    #muse_css_mq {
        background-color: #0001e0;
    }

    #bp_480.active {
        display: block;
    }

    #page {
        max-width: 480px;
    }

    #ppmenuu7843 {
        z-index: 0;
        padding-bottom: 0px;
        margin-right: -10000px;
        margin-top: 20px;
        width: 96.67%;
    }

    #pmenuu7843 {
        z-index: 8;
        width: 74.36%;
    }

    #menuu7843 {
        z-index: 8;
        width: 118px;
        height: 106px;
        position: relative;
        margin-right: -10000px;
        margin-left: 69.57%;
        left: -160px;
    }

    #u7851 {
        width: 118px;
        position: relative;
    }

    #u7854 {
        width: 118px;
        padding-bottom: 6px;
        position: relative;
        margin-right: -10000px;
    }

    #u7854:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7854:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7855-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 3px;
    }

    #u7854:hover #u7855-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7854:active #u7855-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7873 {
        width: 118px;
        padding-bottom: 6px;
        position: relative;
        margin-right: -10000px;
    }

    #u7854.MuseMenuActive,
    #u7873:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7873:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7874-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 3px;
    }

    #u7854.MuseMenuActive #u7855-4,
    #u7873:hover #u7874-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7873:active #u7874-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7868 {
        width: 118px;
        padding-bottom: 6px;
        position: relative;
        margin-right: -10000px;
    }

    #u7873.MuseMenuActive,
    #u7868:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7868:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7871-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 3px;
    }

    #u7873.MuseMenuActive #u7874-4,
    #u7868:hover #u7871-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7868:active #u7871-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7845 {
        width: 118px;
        padding-bottom: 5px;
        position: relative;
        margin-right: -10000px;
    }

    #u7868.MuseMenuActive,
    #u7845:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7845:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7848-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 2px;
    }

    #u7868.MuseMenuActive #u7871-4,
    #u7845:hover #u7848-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7845:active #u7848-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7872,
    #u7865,
    #u7844,
    #u7858 {
        width: 118px;
        margin-top: 2px;
        position: relative;
    }

    #u7861 {
        width: 118px;
        padding-bottom: 5px;
        position: relative;
        margin-right: -10000px;
    }

    #u7845.MuseMenuActive,
    #u7861:hover {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861:active {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861.MuseMenuActive {
        width: 118px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u7864-4 {
        width: 118px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 2px;
    }

    #u7845.MuseMenuActive #u7848-4,
    #u7861:hover #u7864-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861:active #u7864-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u7861.MuseMenuActive #u7864-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 118px;
        margin: 0px -10000px 0px 0px;
    }

    #u388-6 {
        z-index: 2;
        margin-right: -10000px;
        margin-top: 40px;
        width: 62.32%;
        left: 37.69%;
        margin-left: 23.48%;
    }

    #u2869-4 {
        margin-top: 26px;
        width: 52.59%;
        margin-left: 17.46%;
    }

    #u2878-9 {
        width: 67.46%;
        margin-left: 18.54%;
    }

    #pu2889 {
        z-index: 54;
        margin-top: 6px;
        width: 85.57%;
        left: 0%;
        margin-left: 8.84%;
    }

    #u2889 {
        width: 50.89%;
    }

    #u2903 {
        width: 50.38%;
        left: 49.63%;
    }

    #pu2881 {
        margin-top: -1px;
        width: 84.92%;
        margin-left: 9.06%;
    }

    #u2881 {
        width: 50.26%;
    }

    #u2921 {
        width: 50.51%;
        left: 49.5%;
    }

    #u3080-4 {
        margin-top: 36px;
        width: 49.36%;
        margin-left: 27.16%;
    }

    #u2940popup {
        height: 276px;
    }

    #u2947_img {
        padding-left: 7.974137931034483%;
        padding-right: 7.974137931034483%;
        width: 84.06%;
    }

    #u3121_img {
        padding-top: 4.525862068965517%;
        padding-bottom: 4.525862068965517%;
        width: 100%;
    }

    #u3141_img {
        padding-left: 3.0172413793103448%;
        padding-right: 2.8017241379310347%;
        width: 94.19%;
    }

    #u3161_img {
        padding-left: 20.25862068965517%;
        padding-right: 20.25862068965517%;
        width: 59.49%;
    }

    #u3181_img {
        padding-left: 19.396551724137932%;
        padding-right: 19.396551724137932%;
        width: 61.21%;
    }

    #pu2972-4 {
        z-index: 72;
        margin-top: 9px;
        width: 19.62%;
        margin-left: 40.09%;
    }

    #u2973-4popup {
        width: 40.66%;
        margin-left: 59.35%;
    }

    #u2973-3 {
        margin-left: 27.03%;
        margin-right: 27.027027027027028%;
    }

    #u3201-4 {
        margin-top: 69px;
        width: 49.36%;
        margin-left: 27.16%;
    }

    #slideshowu2931,
    #slideshowu3204 {
        padding-bottom: 0px;
        width: 100%;
        margin-left: 1.73%;
    }

    #u3214popup {
        height: 285px;
    }

    #u3217_img,
    #u3359_img,
    #u3379_img,
    #u3399_img {
        width: 42.03%;
        padding: 1.0775862068965518% 28.879310344827587% 1.0775862068965518% 29.094827586206897%;
    }

    #u3419_img {
        width: 84.06%;
        padding: 1.0775862068965518% 7.974137931034483%;
    }

    #pu3213-4 {
        z-index: 100;
        margin-top: 1px;
        width: 19.62%;
        margin-left: 40.31%;
    }

    #u2972-4popup,
    #u3213-4popup {
        width: 41.76%;
    }

    #u2972-3,
    #u3213-3 {
        margin-left: 26.57%;
        margin-right: 26.563952716164163%;
    }

    #u3225-4popup {
        width: 41.76%;
        margin-left: 58.25%;
    }

    #u3225-3 {
        margin-left: 26.32%;
        margin-right: 26.31578947368421%;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 1967px);
    }

    #u7579-5 {
        margin-bottom: -4px;
        margin-top: 20px;
        width: 16.88%;
        left: 41.67%;
    }

    body {
        overflow-x: hidden;
        min-width: 320px;
    }
}